/* Basic Typography & Colors
-------------------------------------------------------------- */
/* Embedded fonts
 * --------------
 * Check fonts.css and ../fonts
 */

#admin-menu ul a {
	line-height: 1em;
}

/* Add general site styling here for typography and background */
body {
	color: #333;
	font-family: GillSans, Helvetica, Arial, sans-serif;
	/*font-size: 16px;*/
	font-size: 1em;
	line-height: 1.5;
}

/* Default Link Styles */
a,
a:link,
a:visited {
	color: #0f638d;
	text-align: left;
	text-decoration: none;
	line-height: 24px;
}

/* Hover/Active Link Styles */
a:hover,
a:focus,
a:active {
	color: #d9362b;
	text-decoration: underline;
}

/* Title Link Styles */
.title a,
.title a:link,
.title a:visited {
	color: #0f638d;
	text-decoration: none;
}

.title a:hover,
.title a:focus {
	text-decoration: underline;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
	color: #000;
	text-transform: capitalize;
}

h1 {
	/*font-size: 48px;*/
	font-size: 3em;
	line-height: 1;
	text-transform: uppercase;
}

h1.title,
h1.page-title,
h1.node-title {
	color: #fff;
	font-family: TrajanPro, Georgia, "Times New Roman", Times, serif;
	font-style: normal;
	font-weight: bold;
	text-shadow: 1px 3px 2px #333;
	margin-bottom: 24px;
}

h2 {
	font-size: 32px;
	/*font-size: 2.375em;*/
	line-height: 48px;
	/*text-transform: uppercase;*/
}

h2.block-title,
h2.node-title,
h2.slide-title {
	font-family: TrajanPro, Georgia, "Times New Roman", Times, serif;
	font-style: normal;
	font-weight: normal;
}

h2.block-title,
h2.node-title {
	border-bottom: 1px solid #000000;
	font-size: 28px;
	margin: 0 0 24px;
}

h3,
h3 a {
	color: #333;
	font-family: BebasNeue, Arial, Helvetica, sans-serif;
	font-size: 30px;
	line-height: 48px;
}

/* Sponsor Signup Headings */
.pt {
	color: #545454;
	text-shadow: 1px 1px 0 #ccc;
}

.au {
	color: #960;
	text-shadow: 1px 1px 0 #fc0;
}

.ag {
	color: #999;
	text-shadow: 1px 1px 0 #333;
}

.blue {
	color: #039;
	text-shadow: 1px 1px 0 #39f;
}

h4 {
	font-family: LeagueGothic, Tahoma, Geneva, sans-serif;
	/*font-size: 24px;*/
	font-size: 1.5em;
	font-weight: normal;
	line-height: 1;
}

h5 {
	color: #29736b;
	font-family: GillSans, Helvetica, Arial, sans-serif;
	/*font-size: 16px*/
	font-size: 1em;
	font-weight: bold;
	line-height: 1.5em;
}

h5.title {
	background: transparent url('../images/title_pointer.png') no-repeat 9px 8px;
	padding-left: 24px;
}

h6 {}

/* Content */
p {
	font-size: 1em;
	line-height: 1.5em;
}

#main-content p {
	margin-bottom: 1.5em;
}

hr {
	margin: 1.5em auto;
}

span.curly {
	font-family: cursive;
	font-size: 16px;
	font-style: italic;
	font-weight: 100;
	line-height: 24px;
	padding: 0 0.5em 0 0.35em;
}

.more-link a:link,
.more-link a:visited,
a.more-link:link,
a.more-link:visited {
	background: url("/sites/all/themes/chicago_2011/images/btn/pager.png") no-repeat scroll right -16px transparent;
	display: inline-block;
	float: right;
	height: 24px;
	text-indent: -9999px;
	text-transform: capitalize;
	width: 16px;
}

.more-link a:hover,
.more-link a:focus,
a.more-link:hover,
a.more-link:focus {
	background: url("../images/btn/pager.png") no-repeat scroll right -16px #29736B;
	border-radius: 16px 16px 16px 16px;
	color: #FFFFFF;
	display: inline-block;
	font-size: 12px;
	height: 16px;
	padding: 0 1em 4px 0.5em;
	text-decoration: none;
	text-indent: 0;
	width: auto;
}

/* ----- /Type & Colors */

/* Base Styling - HTML, Body & Page ------------------------ */
html {}

body {
	background: #fffefa url('../images/bg/body_bg.png') repeat left top;
}

#page {
	background: transparent url('../images/bg/skyline.png') repeat-x center 56px;
}

/* ----- /Base Style */

/* Zone Wrappers ------------------------------------------- */
/* General */
.zone-wrapper {
	width: 100%;
}

/* ---------- */
#page-outer-wrapper {
	background: transparent url('../images/bg/page_bg.png') repeat-x left top;
}

#page-inner-wrapper {
	background: transparent url('../images/bg/noise_burst.png') no-repeat center 216px;
}

body.front #page-inner-wrapper {
	min-height: 800px;
	position: relative;
}

#user-bar-zone-wrapper {
	border-bottom: 2px solid #202020;
	height: 46px;
	max-height: 46px; /* overall height == 48px/2em */
	overflow: hidden;
}

#header-zone-wrapper {}

#preface-zone-wrapper {}

#main-zone-wrapper {}

#postscript-zone-wrapper {}

#footer-zone-wrapper {
	background: transparent url('../images/bg/spacer_black.png') repeat left top;
}

/* ----- /Zone Wrappers */

/* Regions ------------------------------------------------- */
/* User Bar */
.user-bar-first {}

.user-bar-last {}

/* Header */
#site-header {
	margin-top: 0;
	height: 168px;
	max-height: 168px; /* height == 7em */
}

#header-regions {}

.header-first {}

.header-last {}

/* Preface */
#preface-wrapper {
	margin-top: 1.5em;
}

.preface {}

#preface-first {}

#preface-middle {}

#preface-last {}

/* Hide these two regions incase js is disabled */
.front #preface-middle {
	display: none;
}

.front #preface-last {
	display: none;
}

/* Main */
#main-content-container {
	margin-top: 1.5em;
}

#main-wrapper {}

/* Content */
#content-top {
	margin-bottom: 1.5em;
}

#main-content {
	margin-bottom: 1.5em;
}

.node,
.faq-content,
.page-sponsors #main-content {
	background: transparent url("../images/bg/spacer_white.png") repeat 0 0;
	border: medium none;
	margin-bottom: 1.5em;
	padding: 0.75em 16px 1.5em;
}

#content-bottom {
	margin-bottom: 1.5em;
}

/* Sidebars */
.sidebar {}

#sidebar-first {}

#sidebar-last {
	padding-top: 72px;
}

/* Postscript */
#postscript-wrapper {
	margin-bottom: 1.5em;
}

.postscript {}

#postscript-one {}

#postscript-two {}

#postscript-three {}

#postscript-four {}

/* Footer */
#footer-wrapper {}

#footer-first {
	margin-bottom: 1.5em;
}

#footer-last {
	margin-bottom: 1.5em;
}

/* ----- /Regions */

/* Header elements */
/* Brading */
#branding {
	margin-top: 1.5em;
}

#site-name,
#slogan {
  display: block;
}

#site-name a:link,
#site-name a:visited,
#site-name a:hover,
#site-name a:active {
  text-decoration: none;
}

#site-name a {
  outline: 0;
}

/* Menus --------------------------------------------------- */
/* General Lists/Menus */
ol {
	list-style-type: decimal-leading-zero;
	margin-bottom: 1.5em;
}

ul {
	list-style-type: disc;
	margin-bottom: 1.5em;
}

ul.short {
	margin: 1.5em 3em 0;
	max-width: 23em;
}

ul.short li {
	margin-bottom: 1.5em;
}

li ul,
li ol {
  margin-bottom: 0;
}

#main-content ul,
#main-content ol {
	margin-right: 2em;
	margin-left: 2em;
	padding-left: 1em;
}

#main-content ul li,
#main-content ol li {
	padding-left: 0.5em;
}

.item-list ul li {
  margin: 0;
}

.block ul,
.block ol {
  margin-left: 1.5em;
  padding: 0;
}

.content ul,
.content ol {
  margin: 1.5em 0;
}

ul.links {
  margin-left: 0; /* LTR */
}

ul.links li {
  display: inline;
  list-style-type: none;
  padding: 0 1em;
}

/* Pager */
ul.pager {
	float: left;
	margin: 0;
	max-width: 120px;
}

ul.pager li {
	display: inline-block;
	line-height: 1em;
	padding: 0 !important;
	min-width: 16px;
}

ul.pager li a {
	display: inline-block;
	height: 16px;
	text-indent: -9999px;
	vertical-align: middle;
	width: 16px;
}

ul.pager li.pager-previous {
	margin-right: 0.5em;
}

ul.pager li.pager-previous a {
	background: transparent url("../images/btn/pager.png") no-repeat center top;
}

ul.pager li.pager-current {
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-weight: normal;
}

ul.pager li.pager-next {
	margin-left: 0.5em;
}

ul.pager li.pager-next a {
	background: transparent url("../images/btn/pager.png") no-repeat center bottom;
}

/* Content tabs */
#content-tabs {
	background: transparent none;
	border: medium none;
	padding: 12px;
}

#content-tabs ul.primary,
#content-tabs ul.secondary {
}

#content-tabs ul.secondary {
}

#content-tabs ul.primary li,
#content-tabs ul.secondary li {
	display: inline-block;
	margin-right: 24px;
}

#content-tabs ul.primary li a:link,
#content-tabs ul.primary li a:visited,
#content-tabs ul.secondary li a:link,
#content-tabs ul.secondary li a:visited {
	color: #666;
	display: inline-block;
	line-height: 1em;
	font-family: LeagueGothic, Tahoma, Geneva, sans-serif;
	font-size: 24px;
	font-weight: normal;
}

#content-tabs ul.secondary li a:link,
#content-tabs ul.secondary li a:visited {
}

#content-tabs ul.primary li a.active:link,
#content-tabs ul.primary li a.active:visited,
#content-tabs ul.secondary li a.active:link,
#content-tabs ul.secondary li a.active:visited {
	border-bottom: 5px solid #d9362b;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
	font-size: 24px;
	font-weight: normal;
}


#content-tabs ul.primary li a:hover,
#content-tabs ul.secondary li a:hover {
	color: #fff;
	border-bottom: 5px solid #d9362b;
}

/* QuickTabs */
.quicktabs_main {
  background-color: #fff;
  border-top: none;
  padding: 1.5em 10px;
  clear: both;
}

ul.quicktabs_tabs {
  padding: 0;
  height: auto;
  margin: 0;
}

ul.quicktabs_tabs li {
	background-color: #545454;
	border: medium none;
	display: inline-block;
  padding: 0;
  margin: 0;
  position: relative;
}

ul.quicktabs_tabs li:hover {
	background-color: #666;
}

ul.quicktabs_tabs li.active {
  background-color:#fff;
}

ul.quicktabs_tabs li.active a,
ul.quicktabs_tabs li.active a:hover {
  color: #0f638d;
}

ul.quicktabs_tabs a {
  color: #fff;
	display: inline-block;
	font-family: GillSans, Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: normal;
	text-transform: capitalize;
	line-height: 24px;
  text-decoration: none;
	padding: 12px 16px;
}

ul.quicktabs_tabs a:hover {
  color: #f27c38;
}

/* Menu Blocks */
.block-menu_block ul.menu {
	background-color: #29ABE1;
	margin: 0 0 0 24px;
	padding: 8px 0;
}

.block-menu_block ul.menu li {
	background-color: #FFFFFF;
	box-shadow: 3px 3px 3px 0 #0178A3;
	list-style: none outside none;
	margin: 8px 0 !important;
	padding: 6px 0;
	position: relative;
	left: -16px;
	width: auto;
}

.block-menu_block ul.menu li:before {
  border-color: #ECECEC #ECECEC transparent transparent;
  border-style: solid;
  border-width: 4px 8px;
  content: "";
  height: 0;
  position: absolute;
  top: 100%;
  width: 0;
}

.block-menu_block ul.menu li a:link,
.block-menu_block ul.menu li a:visited {
	background: transparent url('../images/star.png') no-repeat 12px center;
	color: #545454;
	font-family: TrajanPro;
	font-size: 16px;
	line-height: 24px;
	padding: 3px 0 3px 48px;
	text-transform: none;
}

.block-menu_block ul.menu li a:hover,
.block-menu_block ul.menu li a:focus,
.block-menu_block ul.menu li a.active {
	color: #d9362b;
}

/* General Menu Link Styles */
ul.menu a:link,
ul.menu a:visited {
	color: #fff;
	font-family: LeagueGothic, Tahoma, Geneva, sans-serif;
	font-size: 18px;
	font-weight: normal;
	text-decoration: none;
	text-transform: uppercase;
}

ul.menu a:hover,
ul.menu a:focus {
	color: #f27c38;
}

ul.menu a.active {
	color: #a63c24;
}

/* Primary Nav */
#site-menu {
	position: relative;
	top: 62px;
}

ul.main-menu li {
	background: transparent url('../images/nav_sep.png') no-repeat right 1em;
	display: inline-block;
	padding: 0;
}

ul.main-menu li.first {}

ul.main-menu li.first a {
	margin-left: 0;
}

ul.main-menu li.last {
	background-image: none;
}

ul.main-menu li.last a {
	margin-right: 0;
}

ul.main-menu a:link,
ul.main-menu a:visited {
	color: #fff;
	display: block;
	font-family: LeagueGothic, Tahoma, Geneva, sans-serif;
	font-size: 26px;
	font-weight: normal;
	line-height: 48px;
	text-decoration: none;
	text-transform: uppercase;
	margin: 0 22px 0 6px;
}

ul.main-menu a:hover,
ul.main-menu a:focus {}

ul.main-menu a.active,
ul.main-menu a.active-trail {
	border-bottom: 10px solid #29ABE1;
	text-shadow: 0 1px 0 #000;
}

/* Secondary Nav */
#block-menu-accountmenu ul,
#block-menu-secondary-links ul {
	margin: 0.75em 0;
}

#block-menu-accountmenu li,
#block-menu-secondary-links li {
	display: inline;
	list-style: none outside none;
	margin: 0;
	padding: 0 1em;
}

#block-menu-accountmenu a:link,
#block-menu-accountmenu a:visited,
#block-menu-secondary-links a:link,
#block-menu-secondary-links a:visited {
	color: #f27c38;
	text-decoration: none;
}

#block-menu-accountmenu a:hover,
#block-menu-accountmenu a:focus,
#block-menu-secondary-links a:hover,
#block-menu-secondary-links a:focus {
	color: #fff;
}

#block-menu-accountmenu a.active,
#block-menu-accountmenu a.active-trail,
#block-menu-secondary-links a.active,
#block-menu-secondary-links a.active-trail {
	color: #A63C24;
}

/* Node Links */

/* ----- /Menus */

/* Footer Elements ------------------------------------ */
#footer-message-wrapper {
	background-color: #000000;
	border-bottom: 4px solid #D7382A;
	border-top: 2px solid #3C3B3A;
	box-shadow: 0 50px 100px #000;
	position: relative;
}

#footer-message-wrapper.hoverMid {
	position: fixed;
	top: 575px;
	width: 100%;
	z-index: 5000;
}

#footer-message {
	color: #fff;
	line-height: 24px;
	margin: 0;
	padding: 1.5em 0;
	text-align: center;
	width: 100%;
}

#footer-message a.callout {
	text-shadow: 1px 1px 1px #e23c38;
}

/* Vertical tabs -------------------------------------- */
.vertical-tabs {
  margin-left: 0;
}

.vertical-tabs-list {
  border: none;
  left: -1.5em;
}

.vertical-tabs ul li {
  border-left: none;
  list-style-image: none;
}

.vertical-tabs ul li.last {
  border-bottom: none;
}

.vertical-tabs-list li a:link,
.vertical-tabs-list li a:visited,
.vertical-tabs-list li a:hover,
.vertical-tabs-list li a:active {
  background-color: transparent;
  background-image: none;
  border: none;
}

/* General Block Display Styles */
.block,
.sidebar .block {
	margin-bottom: 1.5em;
}

/* Tables */
table {
  border-spacing: 0;
  width: 100%;
	margin-bottom: 1.5em;
}

caption {
  text-align: left;
}

th {
  margin: 0;
  padding: 0px;
}

th.active img {
  display: inline;
}

thead th {}

td {
  margin: 0;
  padding: 3px;
}

td.block {
  border: none;
  float: none;
  margin: 0;
}

tr.drag td,
tr.drag-previous td {
  background: #fff;
  color: #000;
}

/* Drupal Messages ------------------------------------- */
div.messages,
div.help {
  border-style: solid;
  border-width: 6px;
	font-size: 1em;
  font-weight: normal;
	line-height: 24px;
  margin-bottom: 12px;
  overflow: hidden;
  padding: 12px;
}

div.messages p,
div.help p {
	margin: 0.75em 0 1.5em ;
}

div.status {
  background-color: #EAF8E4;
  border-color: #8DC478;
  color: #3E642F;
}

div.warning {
  background: #FFFFDD;
  border-color: #EED300;
  color: #745500;
}

div.error {
  background-color: #FFF2F2;
  border-color: #CC0000;
  color: #B20000;
}

.help,
div.help {
  background-color: #E4EEF8;
  border-color: #57718A;
  color: #292929;
	padding-bottom: 18px;
}

div.messages ul,
div.help ul {
  list-style-position: inside;
}

div.messages a:link,
div.messages a:visited,
.help a:link,
.help a:visited,
.help .more-help-link a:link,
.help .more-help-link a:visited {
  color: inherit;
  font-size: 24px;
  line-height: 24px;
  font-family: LeagueGothic, Verdana, Geneva, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 #545454;
  padding: 0pt 0.25em;
}

div.messages a:hover,
div.messages a:active,
.help a:hover,
.help a:active,
.help .more-help-link a:hover,
.help .more-help-link a:active,
div.messages em {
  color: inherit;
  text-decoration: underline;
}

/* Forms --------------------------------------------- */
form {
	position: relative;
}

fieldset {
	background-color: #fff;
	border: none;
	width: 94%;
	margin: 1.5em 0;
	padding: 1.5em 3%;
}

.fieldset-wrapper {
	padding: 0 1em;
}

fieldset legend {
	/*font-size: 1em;
	margin: 0px;
	padding: 0;
	color: #b4b4b4;
	font-weight: bold;*/
	display: none;
}

label {
	display: block;
	font-family: GillSans, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
}

label.inline {
	display: inline-block;
}

.form-item {
	margin-top: 0;
	margin-bottom: 1.5em;
	width: auto;
	max-width: 450px;
}

.form-item .description {
  right: -10%;
  z-index: 5;
  border-bottom: 1px solid #D8E4E0;
  width: 244px;
  padding: 16px 9px 8px;
  top: 100%;
  line-height: 24px;
  font-size: 0.875em;
  text-align: justify;
  color: #545454;
  background: url("../images/popup.png") no-repeat scroll center top transparent;
  display: none;
  position: absolute;
}

.form-item:hover {
	z-index:1;
	position: relative;
	height:auto; /* Fix for flicker in IE7 */
}

.form-item:hover > .description {
	display:block;
}

input.form-autocomplete,
input.form-text,
textarea.form-textarea,
select.form-select {
	background-position: 100% -50% !important;
  max-width:100%;
}

input.form-autocomplete.throbbing {
	background-position: 100% 100% !important;
}

/* Contact Us - Form */
body.page-contact-us form.webform-client-form .webform-component {
  margin: 0 5%;
  width: 40%;
}

body.page-contact-us #webform-component-message {
	position: absolute;
	right: 0;
	top: 0;
}

body.page-contact-us #webform-component-message textarea {
	min-height: 390px;
}

/* From Wizard - Step Process */
div#steps-wrapper {
	width: 100%;
	overflow: hidden;
}

ul#steps {
	font-family: LeagueGothic, Tahoma, Geneva, sans-serif;
	text-transform: uppercase;
	list-style: none;
	width: 3000px;
	overflow: hidden;
	margin: 0px;
	padding: 6px 0;
}

ul#steps li {
  background: url("../images/process_bg/step_bg.png") repeat-x scroll left top transparent;
  color: #666;
  display: inline-block;
  padding: 0 0 0 24px;
  min-height: 36px;
  max-height: 36px;
  position: relative;
}

ul#steps li#stepDesc0 {
	padding-left: 0;
}

ul#steps li.current {
	background-position: left -40px;
	color:#000;
	text-shadow: 1px 1px 0 #fff;
}

ul#steps li.completed {
	background-position: left -80px;
	color: #fff;
	text-shadow: -1px -1px 0 #000;
}

ul#steps li:after {
  content: "";
  display: inline-block;
  background: url("../images/process_bg/step_cap.png") no-repeat scroll left top transparent;
  width: 24px;
  height: 36px;
  padding: 0px;
  position: absolute;
  right: -24px;
  top: 0;
}

ul#steps li.current:after,
ul#steps li.current.last:after {
	background-position: left -80px;
}

ul#steps li.completed:after {
	background-position: left -120px;
}

ul#steps li.last:after {
	background-position: left -40px;
}

ul#steps li.current span.stepNum {
	background: transparent url('../images/process_bg/current_num.png') no-repeat center center;
}

ul#steps li span {
	font-size: 1.125em;
	line-height: 24px;
	padding-top: 6px;
}

ul#steps li span.stepNum {
	background-image: none;
	display: inline-block;
	width: 30px;
	height: 30px;
	text-align: center;
	padding-left: 6px;
	padding-right: 6px;
}

ul#steps li span.stepName {
}


ul#steps li .stepName {
	display: none;
}

ul#steps li.current .stepName {
	display: inline-block;
	padding-left: 6px;
	padding-right: 12px;
}

ul#steps a:link,
ul#steps a:visited {
	color: inherit;
	text-decoration: none;
}

ul#steps a:hover {
	cursor: default;
}

form .buttons {
	margin-top: 1.5em;
}

form .buttons .prev,
form .buttons .next {
	background-color: #b0232a;
	color: #fff;
	text-decoration: none;
}

form .buttons .prev:hover,
form .buttons .next:hover {
	background-color: #000;
	text-decoration: none;
}

form .buttons .prev {
	float: left;
}

form .buttons .next {
	float: right;
}

form#user-register .form-submit {
	display: inline-block;
	float: right;
}

/* View Displays */
/* Front Page: Slideshow */
.views_slideshow_singleframe_main {
	max-height: 400px;
}

.view-front-page-slideshow {
	margin-left: -10px;
	position: relative;
	width: 960px;
	height: 400px;
}

.view-front-page-slideshow .views-row {
	position: relative;
	width: 960px;
	height: 400px;
}

.view-front-page-slideshow .slide {
	position: absolute;
	z-index: 1;
}

.view-front-page-slideshow div.slide-title:before {
  border-color: #005d8f #005d8f transparent transparent;
  border-style: solid;
  border-width: 8px 11px;
  content: "";
  position: absolute;
  left: 0px;
  top: 62px;
  width: 0;
  height: 0;
}

.view-front-page-slideshow div.slide-title {
  background-color: #29abe1;
	box-shadow: 5px 5px 12px -5px rgba(0, 0, 0, 0.8);
  position: absolute;
	left: -22px;
  top: 20px;
  height: 62px;
  z-index: 2;
}

.view-front-page-slideshow h2.slide-title  {
	background: #fff url('../images/star.png') no-repeat 12px center;
  padding: 0 30px 0 50px;
	text-shadow: 1px 1px 1px #fff, 2px 2px 2px #545454;
	position: relative;
	top: 6px;
}

.view-front-page-slideshow h2.slide-title:after {
  background: transparent url('../images/bg/highlight_title.png') repeat-x left top;
	content: "";
	width: 100%;
	height: 24px;
	position: absolute;
	left: 0;
	top: 0;
}

.view-front-page-slideshow .title {
	position: absolute;
	top: 242px;
	padding-left: 16px;
	z-index: 4;
}

.view-front-page-slideshow .title h5 {
	background: transparent url('../images/title_pointer.png') no-repeat 9px center;
	padding-left: 24px;
}

.view-front-page-slideshow .body:before {
	content: "";
	border-color: transparent #ececec #ececec transparent;
	border-style: solid;
	border-width: 8px 11px;
	position: absolute;
	left: -22px;
	top: -16px;
	width: 0;
	height: 0;
}

.view-front-page-slideshow .body {
	background: transparent url("../images/bg/spacer_white.png") repeat left top;
	border-left: 22px solid #fff;
	box-shadow: 5px 5px 12px -5px rgba(0, 0, 0, 0.8);
	top: 230px;
	left: -22px;
	position: absolute;
	width: 500px;
	height: 150px;
	z-index: 3;
}

.view-front-page-slideshow .body p {
	position: relative;
	top: 44px;
	padding: 0 12px 0 24px;
	line-height: 24px;
}

.view-front-page-slideshow .more {
	top: 350px;
	right: 480px;
	position: absolute;
	z-index: 5;
}

.view-front-page-slideshow .credit {
	background: transparent url("../images/bg/spacer_white.png") repeat left top;
	border-right: 16px solid #fff;
	box-shadow: -5px 5px 12px -5px rgba(0, 0, 0, 0.8);
	height: auto;
	padding: 4px 48px 4px 8px;
	position: absolute;
	right: -16px;
	top: 24px;
	z-index: 6;
}

.view-front-page-slideshow .credit:after {
	 border-color: #ECECEC transparent transparent #ECECEC;
	 border-style: solid;
	 border-width: 5px 8px;
	 content: "";
	 position: absolute;
	 right: -16px;
	 top: 32px;
	 width: 0;
	 height: 0;
}

.views-slideshow-controls-bottom {
	position: absolute;
	right: 1em;
	bottom: 1em;
	z-index: 50;
}

.views-slideshow-controls-bottom .pager-item {}

.views-slideshow-controls-bottom a:link,
.views-slideshow-controls-bottom a:visited {
	background: transparent url('../images/bg/slide_pager.png') no-repeat center top;
	display: inline-block;
	text-indent: -9999px;
	font-size: 0;
	width: 20px;
	height: 25px;
}

.views-slideshow-controls-bottom a:hover,
.views-slideshow-controls-bottom a:focus {
	background-position: center -25px;
}

.views-slideshow-controls-bottom .activeSlide a {
	background-position: center bottom;
}

.view-news .view-content .views-row {
  background: url("../images/bg/spacer_white.png") repeat scroll 0 0 transparent;
  border: medium none;
  margin-bottom: 0.75em;
  padding: 0.75em 16px 1.5em;
}

.view-news .views-field-created,
.view-news .views-field-name label,
.view-news .views-field-name .field-content {
	font-size: 0.8em;
}

.view-news .view-content .views-row .views-field-title .field-content a:link,
.view-news .view-content .views-row .views-field-title .field-content a:visited,
.view-news .view-content .views-row .views-field-title .field-content a:active {
  color: #F27C38;
  font-family: LeagueGothic,Tahoma,Geneva,sans-serif;
  font-size: 1.25em;
  font-weight: normal;
  line-height: 24px;
  margin: 0 !important;
  padding: 0;
  text-decoration: none;
  text-shadow: 1px 1px 0 #005D8F;
  text-transform: uppercase;
}

.view-news .views-field-name label,
.view-news .views-field-name .field-content {
  display: inline-block;
}

/* Sponsor Page */
.page-sponsors .node {
	display: none;
}

.page-sponsors .view-id-Sponsors tr {
}

.page-sponsors .view-id-Sponsors td {
	width: 33%;
	padding: 0 16px;
}

.view-id-Sponsors .sponsor-logo {
	text-align: center;
}

.view-id-Sponsors .website-link {
	text-align: center;
	margin-bottom: 24px;
}

/* Attendees List */
.attendee {
	display: inline-block;
	position: relative;
	margin-right: 7px;
	margin-top: 10px;
	min-height: 196px;
	min-width: 196px;
}

.attendee.pro-1 .attendee-overlay {
	background: #fff url('../images/bg/druplicon_pro.png') no-repeat center center;
}

.attendee.pro-0 .attendee-overlay,
.attendee.pro- .attendee-overlay {
	background: transparent url("../images/bg/spacer_white.png") repeat 0 0;
}

.attendee-overlay {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	padding: 15px;
	width: 166px;
	height: 166px;
	font-size: 12px;
	line-height: 24px;
}

.attendee-overlay .username {
	text-align: right;
}

.attendee-overlay .fullname {
  font-family: TrajanPro;
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  position: relative;
  text-align: center;
	min-height: 72px;
}

.attendee-overlay .fullname a:link,
.attendee-overlay .fullname a:visited {
}

.attendee-overlay .fullname a:hover,
.attendee-overlay .fullname a:focus {
	text-shadow: 1px 1px 0 #000;
	text-decoration: none;
}

.attendee-overlay .title,
.attendee-overlay .org {
	text-align: center;
}

.attendee:hover .attendee-overlay {
	display: block;
}

/* Attendees Block */
#block-views-attendees-block_1 {
	min-height: 350px;
}

#block-views-attendees-block_1 table {
	margin-bottom: 0;
}

#block-views-attendees-block_1 td {
	padding: 0 7px 14px;
}

/* User Profile */
.profile {
	margin: 0 0 1.5em;
}

.profile .info {
	text-align: center;
}

.profile .info span {
	color: #0f638d;
	display: inline-block;
	font-size: 12px;
	line-height: 24px;
	padding: 12px 16px;
}

.profile .info label {
	color: #545454;
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
}

h5.fullname {
	color: #545454;
	font-size: 22px;
	font-weight: 100;
	line-height: 48px;
	text-transform: none;
}

.profile #user-main {
	background: transparent url('../images/bg/spacer_white.png') repeat left top;
}

.profile #user-bio {
	padding: 0 16px;
}

.view-user-picture .views-field-picture {
	box-shadow: 0 0 3px 0 #000;
}

.attendee-thumb div.picture {
	display: inline;
}

/* QuickTabs: Sessions */
.schedule-tabs {}

.presentation {
	width: 100%;
	height: 60px;
	margin-bottom: 12px;
}

.presentation.first {
	margin-top: 0;
}

.presentation.last {
	margin-bottom: 0;
}

.presentation div {
	display: inline-block;
}
.presentation .pictures{
	float:right;
	margin-right:19px;
	margin-top:10px;
}

.presentation-inner-wrapper {
	width: 100%;
	height: 60px;
}

.presentation.Build .presentation-inner {
	border-right-color: #114ba7;
}

.presentation.Code .presentation-inner {
	border-right-color: #fe6e05;
}

.presentation.Design .presentation-inner {
	border-right-color: #d9362b;
}

.presentation.Business .presentation-inner {
	border-right-color: #29abe1;
}

.presentation.Community .presentation-inner {
	border-right-color: #11a72d;
}

.presentation-inner {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #eaeaea));
  background: -moz-linear-gradient(top center, #fff 0%, #eaeaea 100%);
	border-color: #dfdfdf transparent #9d9d9d #cacaca;
	border-radius: 3px;
	border-style: solid;
	border-width: 1px 5px 1px 1px;
	box-shadow: 0 1px 1px 0 #999;
	padding: 0 10px;
	width: 750px;
	max-height: 60px;
	overflow: hidden;
}

.presentation.schedule_item .presentation-inner {
  background-color: #bdddeb;
	background-image: none;
	border-color: transparent !important;
}

.presentation.schedule_item .session-info {
	display: block;
	float: none;
	text-align: center;
	margin: 0 auto;
	padding: 18px 0;
	width: 95%;
	height: 24px;
}

.presentation.schedule_item .session-info h5.title {
	background-image: none;
	padding-left: 0px !important;
}

.presentation.schedule_item .session-info h5.title a:link,
.presentation.schedule_item .session-info h5.title a:visited {
	color: #3f3f3f;
	font-family: GillSans, Helvetica, Arial, sans-serif;
	font-size: 22px;
	font-weight: normal;
	letter-spacing: 1px;
	line-height: 24px;
	text-shadow: 0 1px 1px #ececec;
	text-transform: uppercase;
}

.presentation.schedule_item .session-info h5.title a:hover,
.presentation.schedule_item .session-info h5.title a:focus {
	color: #0F638D;
	text-decoration: none;
}

.presentation.schedule_item .session-info .question {
	display: none;
}

.presentation.schedule_item .session-meta {
	display: none;
}

.presentation.proposed .presentation-inner {
	width: 915px;
}

.session-info {
	float: left;
	margin-right: 10px;
	padding-top: 6px;
	width: 400px;
	max-height: 48px;
	overflow: hidden;
}

.session-meta {
	float: right;
	margin-left: 10px;
	width: 320px;
	height: 60px;
}

.presentation .time {
	font-size: 0.875em;
	text-align: center;
	line-height: 24px;
	float: left;
	margin: 0;
	padding-top: 18px;
	width: 140px;
}

.presentation .title {}

.presentation .question {
	font-size: 12px;
}

.presentation .presenter {
  display: inline-block;
  float: left;
  font-size: 0.625em;
  max-width: 215px;
	width: 215px;
	padding: 10px 3px 10px 0;
}

.presentation .presenter .picture {
	float: right;
	padding-right: 10px;
}

.presentation .schedule-add.button {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #b4b4b4));
  background: -moz-linear-gradient(top center, #fff 0%, #b4b4b4 100%);
  border-color: #ececec #ccc #a1a1a1;
	box-shadow: 0 0 0 4px #ececec;
	color: #333;
  display: inline-block;
	float: right;
  padding-left: 30px;
	position: relative;
	top: 11px;
  width: 60px;
}

.presentation .exp-lvl {
	display: none;
}

/* Proposed Sessions - Block */
.block .sessions-list .proposed-session {
	border-bottom: 1px solid #333;
	padding-bottom: 12px;
	margin-bottom: 12px;
}

.block .sessions-list .proposed-session.last {
	border-bottom: medium none;
	margin-bottom: 0;
}

.proposed-session .speaker {
	border-bottom: 2px solid transparent;
	display: inline-block;
}

.proposed-session .speaker a:link,
.proposed-session .speaker a:visited {
	color: #f27c38;
	font-weight: bold;
}

.proposed-session .speaker:hover {
	border-bottom-color: #f27c38;
}

.proposed-session .speaker a:hover,
.proposed-session .speaker a:focus {
	text-decoration: none;
}

.proposed-session .vote {
	display: inline-block;
	float: right;
}

#view-id-sessions-block_3 .view-footer {
	position: absolute;
	bottom: 0;
	right: 0;
}

.view-sessions .online {
	margin-bottom: 16px;
}

.view-sessions .online .presentation-video {
	float: left;
	margin-right: 16px;
}

/* Session: Node Page
 *
 * Presenter(s) Block
 */
.view-sessions.presenter-list .presenter {
	height: 300px;
	margin-bottom: 24px;
	position: relative;
}

.view-sessions.presenter-list .presenter .speaker-image {
	position: relative;
	z-index: 1;
}

.view-sessions.presenter-list .presenter .realname {
	background: url("../images/bg/spacer_white.png") repeat scroll 0 0 transparent;
	bottom: 48px;
	margin: 0 10px;
	padding: 0 10px;
	position: absolute;
	width: 260px;
	z-index: 2;
}

.view-sessions.presenter-list .presenter .username {
	background: url("../images/bg/spacer_white.png") repeat scroll 0 0 transparent;
	bottom: 10px;
	color: #545454;
	font-size: 22px;
	font-weight: 100;
	line-height: 24px;
	margin: 0 10px;
	padding: 0 10px 14px;
	position: absolute;
	text-transform: lowercase;
	width: 260px;
	z-index: 2;
}

.view-sessions.presenter-list .presenter .username span {
	color: #1A1A1A;
	text-transform: capitalize;
}

/* Session: Node Page -- Essential Info Block*/
.view-sessions.block-session-info .time {
	display: inline-block;
	margin: 0 20px 24px;
	text-align: center;
	width: 100px;
}

.view-sessions.block-session-info .exp-lvl {
	display: inline-block;
	text-align: center;
	margin-bottom: 24px;
	width: 150px;
}

.view-sessions.block-session-info .track {
	border: medium none;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	text-shadow: -1px -1px 0px #545454;
	text-transform: uppercase;
	margin: 0 15px;
	padding: 4px 0;
	width: 110px;
}

.view-sessions.block-session-info .Code .track {
	background-color: #fe6e05;
}

.view-sessions.block-session-info .Build .track {
	background-color: #114ba7;
}

.view-sessions.block-session-info .Design .track {
	background-color: #d9362b;
}

.view-sessions.block-session-info .Business .track {
	background-color: #29abe1;
}

.view-sessions.block-session-info .Community .track {
	background-color: #11a72d;
}

.view-sessions.block-session-info .fivestar-widget {
	clear: none;
	display: inline-block;
	float: right;
	text-align: center;
	padding: 3px 0;
	width: 150px;
}

/* Session List
 *
 * Exposed Filters ------------------------------------------------ */
.view.sessions-list .views-exposed-widget {
	display: inline-block;
	float: none;
	margin-right: 24px;
	margin-bottom: 16px;
	padding: 0 10px 0 0;
	vertical-align: bottom;
}

.view.sessions-list .views-exposed-widget label {
	border-bottom: 2px solid #545454;
	margin-bottom: 0.5em;
	padding-bottom: 3px;
}

.view.sessions-list .bef-select-as-checkboxes {
	margin: 0;
}

.view.sessions-list .bef-checkboxes div {
	box-shadow: 2px 2px 2px #333333;
	-moz-box-shadow: 2px 2px 2px #333333;
	-webkit-box-shadow: 2px 2px 2px #333333;
	display: inline-block;
	margin-right: 8px;
	padding: 2px 3px 2px 0;
}

.view.sessions-list .bef-checkboxes div.highlight {
	box-shadow: 2px 2px 2px #333333 inset;
	-moz-box-shadow: 2px 2px 2px #333333 inset;
	-webkit-box-shadow: 2px 2px 2px #333333 inset;
}

.view.sessions-list .bef-checkboxes div input[type="checkbox"] {
	margin: 2px 0 0 5px;
}

.view.sessions-list .bef-checkboxes div label {
	border: medium none;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-shadow: -1px -1px 0px #545454;
	text-transform: uppercase;
	margin-right: 7px;
	margin-bottom: 0;
	padding: 0;
}

.view.sessions-list .bef-checkboxes div.highlight label {
	text-shadow: 1px 1px 0px #000;
}

/* Specific Filter Options: Session Track*/
.view.sessions-list #edit-field-track-value-many-to-one-Code-wrapper {
	background-color: #fe6e05;
}

.view.sessions-list #edit-field-track-value-many-to-one-Build-wrapper {
	background-color: #114ba7;
}

.view.sessions-list #edit-field-track-value-many-to-one-Design-wrapper {
	background-color: #d9362b;
}

.view.sessions-list #edit-field-track-value-many-to-one-Business-wrapper {
	background-color: #29abe1;
}

.view.sessions-list #edit-field-track-value-many-to-one-Community-wrapper {
	background-color: #11a72d;
}

.view.sessions-list .views-exposed-widgets #edit-submit-sessions {
	margin: 0;
}

/* Flags */
/* Add To My Schedule */
.schedule-add span.flag-wrapper {
	position: relative;
	float: right;
	width: 100%;
	height: 30px;
}

.schedule-add span.flag-wrapper a.flag-action:before {
	content: url('../images/btn/add.png');
	width: 16px;
	height: 17px;
	position: absolute;
	left: -23px;
	top: 7px;
}

.schedule-add span.flag-wrapper a.unflag-action:before {
	content: url('../images/btn/remove.png');
	width: 16px;
	height: 17px;
	position: absolute;
	left: -23px;
	top: 7px;
}

.schedule-add a:link,
.schedule-add a:visited {
	color: #0F638D;
	display: inline-block;
  font-size: 10px;
  line-height: 1.5em;
  text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 1px #fff;
  text-transform: uppercase;
}

.schedule-add a:hover,
.schedule-add a:focus {}

/* Helper Spans --------------------------------------- */
pre {
	white-space: pre-wrap;
}

em {
	font-style: italic;
}

blockquote {}

img {
	vertical-align: bottom;
}

.block p {
  margin: 0;
}

.hide {
  display: none;
  visibility: hidden;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

a.callout:link,
a.callout:visited {
  color: #F27C38;
  font-family: LeagueGothic, Tahoma, Geneva, sans-serif;
  font-weight: normal;
  font-size: 1.25em;
  line-height: 24px;
  text-decoration: none;
	text-shadow: 1px 1px 0px #005D8F;
  text-transform: uppercase;
	margin: 0 !important;
  padding: 0pt 0.25em;
}

a.callout:hover,
a.callout:focus {
	color: #fff;
	text-shadow: 1px 1px 0px #000;
}

a.callout.active {
	color: #A63C24;
	text-decoration: underline;
	text-shadow: none;
}

a.callout.login:link,
a.callout.register:link {
	text-shadow: none;
}

/* Skinr Styles -------------------------------------------- */
/* Layout Styles */
.dcc-no-y-margin {
	margin-top: 0;
	margin-bottom: 0;
}

.dcc-no-x-margin {
	margin-left: 0;
	margin-right: 0;
}

.float-left .content-inner {
  float: left;
}

.float-center {
	text-align: center;
}

.float-center .content-inner {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.float-right .content-inner {
  float: right;
}

/* Text Styles */
.dcc-title-blue .title,
.dcc-title-blue .title a {
	color: #0f638d;
}

.dcc-title-white .title,
.dcc-title-white .title a {
	color: #fff;
}

.dcc-text-white .content {
	color: #fff;
}

.dcc-text-dark-grey .content {
	color: #333;
}

.dcc-text-grey .content {
	color: #545454;
}

.dcc-text-light-grey .content {
	color: #b4b4b4;
}

.dcc-text-black .content {
	color: #000;
}

.dcc-text-red .content {
	color: #d9362b;
}

.dcc-font-bebasneue .content {
	font-family: BebasNeue, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-style: normal;
}

.dcc-font-bebas .content {
	font-family: Bebas, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-style: normal;
}

.dcc-font-bodidly .content {
	font-family: Bodidly, "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-weight: normal;
	font-style: normal;
}

.dcc-font-leaguegothic .content {
	font-family: LeagueGothic, Tahoma, Geneva, sans-serif;
	font-weight: normal;
	font-style: normal;
}

.dcc-font-trajanpro-bold .content {
	font-family: TrajanPro, Georgia, "Times New Roman", Times, serif;
	font-weight: bold;
	font-style: normal;
}

.dcc-font-trajanpro .content {
	font-family: TrajanPro, Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	font-style: normal;
}

.dcc-font-gillsans .content {
	font-family: GillSans, Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
}

.dcc-font-gillsans-light .content {
	font-family: GillSans, Helvetica, Arial, sans-serif;
	font-weight: 100;
	font-style: normal;
}

.dcc-font-gillsans-bold .content {
	font-family: GillSans, Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-style: normal;
}

.dcc-font-gillsans-italic .content {
	font-family: GillSans, Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: italic;
}

.dcc-font-gillsans-light-italic .content {
	font-family: GillSans, Helvetica, Arial, sans-serif;
	font-weight: 100;
	font-style: italic;
}

.dcc-font-gillsans-bold-italic .content {
	font-family: GillSans, Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-style: italic;
}

/* Block Styles */
.dcc-raised-white {
	background-color: #FFF;
	box-shadow: 0 0 3px 0 #000;
	color: #545454;
}

.dcc-raised-white .block-inner {}

.dcc-raised-white .block-title {
	border: medium none;
	color: #0f638d;
	margin: 0 12px;
}

.dcc-raised-white .content {}

.dcc-raised-white .content-inner {
	padding: 0 12px 1.5em;
}

.dcc-raised-white .content-inner img.full-width {
	margin-left: -12px;
}

.dcc-front-feature {}

.dcc-front-feature .block-title {
	color: #29736b;
	font-family: Bodidly, "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 32px;
	font-weight: normal;
	font-style: normal;
	line-height: 48px;
	text-shadow: 1px 1px 1px #fff;
}

.dcc-user-welcome .content-inner {
	margin: 0.75em 0;
}

.dcc-user-welcome a:link,
.dcc-user-welcome a:visited {
	color: #f27c38;
	text-decoration: none;
	text-transform: uppercase;
	margin: 0 0.5em;
}

.dcc-user-welcome a:hover,
.dcc-user-welcome a:focus {
	color: #fff;
}

.dcc-user-welcome a.active,
.dcc-user-welcome a.active-trail {
	color: #A63C24;
}

/* Stock Available - Register CTA */
.register-cta {
	position: relative;
	width: 100%;
	text-transform: uppercase;
	text-align: center;
}

.register-cta .stock,
.view-attendees-attending .views-summary {
	color: #29736b;
	display: inline-block;
	float: left;
	font-family:  Bodidly, "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 138px;
	line-height: 144px;
	text-shadow: 1px 1px 2px white, -1px -1px 1px #000;
	padding-right: 16px;
	position: relative;
}

.register-cta .stock .overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: transparent;
	background-image: -webkit-repeating-linear-gradient(90deg, transparent, transparent 3px, rgba(99,180,199,0.18) 3px, rgba(99,180,199,0.18) 6px),
										-webkit-repeating-linear-gradient(45deg, transparent 2px, transparent 5px, rgba(99,180,199,0.25) 5px, rgba(99,180,199,0.1) 10px);
	background-image: -moz-repeating-linear-gradient(90deg, transparent, transparent 3px, rgba(99,180,199,0.18) 3px, rgba(99,180,199,0.18) 6px),
										-moz-repeating-linear-gradient(45deg, transparent 2px, transparent 5px, rgba(99,180,199,0.25) 5px, rgba(99,180,199,0.1) 10px);
	background-image: -o-repeating-linear-gradient(90deg, transparent, transparent 3px, rgba(99,180,199,0.18) 3px, rgba(99,180,199,0.18) 6px),
										-o-repeating-linear-gradient(45deg, transparent 2px, transparent 5px, rgba(99,180,199,0.25) 5px, rgba(99,180,199,0.1) 10px);
}

.register-cta .avail {
	border-bottom: 2px solid #274150;
	box-shadow: 0 1px 0 #e6e6e6;
	color: #5a2b2b;
	display: inline-block;
	font-size: 32px;
	font-weight: 100;
	line-height: 48px;
	text-shadow: 1px 1px 2px #fff;
	padding-top: 22px;
}

.register-cta .buy-now {
	color: #f27c38;
	display: inline-block;
	font-size: 33px;
	line-height: 48px;
	text-decoration: none;
	text-shadow: 1px 1px 1px #274150;
}

.register-cta .buy {
	color: #f27c38;
	display: inline-block;
	font-size: 33px;
	line-height: 48px;
	text-decoration: none;
	text-shadow: 1px 1px 1px #274150;
}

.register-cta .scare-tactic {
	color: #274150;
	font-family: LeagueGothic, Tahoma, Geneva, sans-serif;
	font-size: 14px;
	position: absolute;
	right: 12px;
	bottom: -10px;
}

.view-attendees-attending .views-summary a {
	display: none;
}

/* Countdown Timer */
#countdown-container {
	background: transparent url("../images/bg/spacer_black.png") repeat left top;
	border: 2px solid #428DA2;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	box-shadow: 1px 1px 5px #333333 inset;
	display: inline-block;
	margin-top: 12px;
	/* For the display message */
	color: #fff;
	padding: 3em 2em;
}

.countdown {
	color: #FFFFFF;
	display: inline-block;
	font-family: Bebas, Arial, Helvetica, sans-serif;
	font-size: 48px;
	line-height: 48px;
	text-align: center;
	text-shadow: 0 1px 3px #000000;
	text-transform: uppercase;
	width: auto;
}

.countdown .days,
.countdown .hours,
.countdown .minutes {
	display: inline-block;
}

.countdown .days .num,
.countdown .hours .num,
.countdown .minutes .num {
	background: transparent url("../images/bg/timer/panel_bg.png") no-repeat center center;
	margin: 12px 7px 0;
	padding: 9px 0 23px;
	position: relative;
	width: 90px;
}

.countdown .num:after {
  background: transparent url('../images/bg/timer/highlight_num.png') repeat-x left top;
	border-top: 3px solid #000;
	content: "";
	width: 60px;
	height: 24px;
	position: absolute;
	left: 15px;
	top: 34px;
}

.countdown .label {
	font-size: 14px;
	line-height: 24px;
	padding-bottom: 8px;
	text-shadow: 0 1px 2px #000000;
}

/* Twitter Widget - Style Override */
.block .twtr-widget {
	font-family: "lucida grande",lucida,tahoma,helvetica,arial,sans-serif !important;
	font-size: 12px !important;
	position: relative;
}
.block .twtr-fullscreen {
	font-size: 220% !important;
}
.block .twtr-fullscreen .twtr-new-results {
}
.block .twtr-inactive {
	display: none;
}
.block .twtr-widget a img {
	border: 0 none !important;
}
.block .twtr-doc {
	border-radius: 5px 5px 5px 5px;
	font-weight: normal;
	overflow: hidden;
	text-align: left;
	width: 100%;
}
.block .twtr-bd {
  padding: 0;
}
.block .twtr-widget .twtr-tweet-wrap {
	background: transparent url("../images/bg/spacer_white.png") repeat left top;
	overflow: hidden;
	padding: 6px 8px;
}
.block .twtr-fullscreen .twtr-tweet-wrap {
	padding: 20px;
}
.block .twtr-widget .twtr-tweet {
	border-bottom: medium none;
	border-radius: 6px 6px 6px 6px;
	box-shadow: 2px 2px 2px #333333;
	margin: 0 10px 16px;
	overflow: hidden;
	width: 440px;
}
.block .twtr-widget-profile img.twtr-profile-img {
	border: 0 none !important;
	display: block;
	float: left;
	height: 31px;
	width: 31px;
}
.block .twtr-widget h3,
.block .twtr-widget h4,
.block .twtr-widget p {
	line-height: 1.2 !important;
	margin: 0 !important;
	padding: 0 !important;
	width: auto !important;
}
.block .twtr-widget-profile h3, .twtr-widget-profile h4 {
	margin: 0 0 0 40px !important;
}
.block .twtr-widget h3 {
	font-size: 11px !important;
	font-weight: normal !important;
}
.block .block .twtr-widget h4 {
	font-size: 16px !important;
}
.block .twtr-widget em, .twtr-widget .twtr-new-results {
	display: block;
	font-size: 9px;
	font-style: normal;
	margin-top: 2px;
}
.block .twtr-widget .twtr-new-results {
	bottom: 5px;
	display: block;
	line-height: 0.9;
	margin: 0 auto -10px !important;
	padding: 3px;
	position: relative;
	text-align: center;
}
.block .twtr-results-inner {
	bottom: -2px;
	font-size: 100%;
	line-height: 1;
	margin: 0 auto;
	padding: 4px 0;
	position: relative;
	text-align: center;
	width: 40%;
	z-index: 2;
}
.block .twtr-results-hr {
	background: none repeat scroll 0 0 transparent;
	border-bottom: 1px dotted #DDDDDD;
	bottom: 7px;
	height: 1px;
	overflow: hidden;
	position: relative;
	width: 100%;
	z-index: 1;
}
.block .twtr-new-results span {
	display: block;
	font-size: 9px !important;
	position: relative;
	top: -14px;
	z-index: 3;
}
.block .twtr-fullscreen .twtr-new-results span {
	font-size: 24px !important;
}
.block .twtr-hd {
	display: none;
}
.block .twtr-fullscreen .twtr-hd {
	height: 0;
	padding: 0;
}
.block .twtr-timeline {
	border-radius: 0;
	/*height: auto !important;*/
	overflow: hidden;
	position: relative;
	z-index: 2;
}
.block .twtr-scroll .twtr-timeline {
	overflow-x: hidden;
	overflow-y: auto;
}
.block .twtr-widget .twtr-tweet:last-child {
	border-bottom-width: 0;
}
.block .twtr-ft {
	display: none;
}
.block .twtr-ft div {
	overflow: hidden;
	padding: 10px;
}
.block .twtr-ft span {
	float: right;
	text-align: right;
}
.block .twtr-ft a {
	display: block;
	float: left;
}
.block .twtr-ft a img {
	position: relative;
	top: 2px;
}
.block .twtr-ft span a {
	float: none;
}
.block .twtr-avatar {
	display: block;
	float: left;
	height: 40px;
	overflow: hidden;
	width: 40px;
}
.block .twtr-fullscreen .twtr-avatar {
	height: 80px;
	width: 80px;
}
.block .twtr-img {
	height: 25px;
	width: 25px;
}
.block .twtr-img img {
	height: 30px;
	width: 30px;
}
.block .twtr-fullscreen .twtr-img img {
	height: 72px;
	width: 72px;
}
.block .twtr-fullscreen a.twtr-join-conv {
	display: none;
}
.block .twtr-tweet-text {
	margin-left: 40px;
}
.block .twtr-fullscreen .twtr-tweet-text {
	margin-left: 90px;
}
.block .twtr-popular {
	border-radius: 3px 3px 3px 3px;
	display: inline-block;
	font-size: 10px;
	margin-top: 3px;
	opacity: 0.8;
	padding: 3px;
}
.block .twtr-doc a {
	text-decoration: none !important;
}
.block .twtr-doc a:hover {
	text-decoration: underline !important;
}

/* FiveStar Widget */

/* Login Overlay */
#fancy_login_dim_screen {
/*background-image: ;
	background-position: ;
	background-repeat: ;*/
}

#fancy_login_login_box {
	background-image: url('../images/bg/login_bg.jpg');
	background-position: center top;
	background-repeat: no-repeat;
	box-shadow: 0 0 50px 25px #0F435E;
	max-height: 300px;
	display:none;
	padding: 0 !important;
	-moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
}

#fancy_login_form_contents {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 2px 2px 2px #545454 inset;
	padding: 16px;
}

#fancy_login_form_contents div.item-list {
	font-size: 16px;
	line-height: 24px;
	text-shadow: 1px 1px 0 #9ADCED;
}

#fancy_login_form_contents ul li {
	list-style: none outside none;
}

#fancy_login_close_button {
	border: 2px solid #fcfcfc;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	color: #FFF;
	background-color: #F00;
	position: absolute;
	top: -12px;
	right: -12px;
	box-shadow: 2px 2px 2px #545454;
	font-size: 16px;
	line-height: 16px;
	font-weight: bold;
	margin-right: 0;
	margin-top: 0;
	padding: 4px !important;

}

#fancy_login_close_button:hover {
	text-decoration: none;
	background-color: #FFF;
	color: #F00;
}

#fancy_login_login_box #edit-name-wrapper {
	margin-top:0;
	clear:both
}

#fancy_login_ajax_loader {
	display:none;
	width: 300px !important;
}

#ssl_icon {
	float:right;
	position:relative;
	height:50px;
	width:50px;
}

#ssl_icon:hover #ssl_login_popup {
	display:block;
}

#ssl_icon img {
	margin:0;
	padding:0;
}

#ssl_login_popup {
	height:75px;
	width:100px;
	position:absolute;
	bottom:32px;
	right:-84px;
	display:none;
	background:url(../images/popup.png) no-repeat transparent;
}

#ssl_login_popup p {
	margin-top:75px;
	height:0;
	line-height:normal;
	overflow:hidden;
}

.ssl_icon_above .form-text {
	width:100px;
}

form#user-login label {
	text-shadow: 1px 1px 0 #9ADCED;
}

#user-login .form-text,
#user-pass .form-text {
	width:100%;
}

form#user-login #edit-submit {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #b4b4b4));
	background: -moz-linear-gradient(center top , #ffffff 0%, #b4b4b4 100%) repeat scroll 0 0 transparent;
	border-color: #ECECEC #CCCCCC #A1A1A1;
	box-shadow: 0 0 0 4px #9ADCED;
	color: #333333;
	display: inline-block;
	float: right;
	margin: 0.6255em 0;
}

/* Grid reset for blocks
.block.grid-1,
.block.grid-2,
.block.grid-3,
.block.grid-4,
.block.grid-5,
.block.grid-6,
.block.grid-7,
.block.grid-8,
.block.grid-9,
.block.grid-10,
.block.grid-11,
.block.grid-12,
.block.grid-13,
.block.grid-14,
.block.grid-15,
.block.grid-16,
.block.grid-17,
.block.grid-18,
.block.grid-19,
.block.grid-20,
.block.grid-21,
.block.grid-22,
.block.grid-23,
.block.grid-24 {
	margin-left: 0;
	margin-right: 0;
}

#webform-client-form-67 {
	coumn-count: 2;
	-moz-column-count: 2;
	-webkit-column-count: 2;
}

#webform-client-form-67 #edit-logo-wrapper {
	max-width: 100%;
}*/

/* Session Schedule messages that are errors, to be removed eventually

/*body.page-program-session-schedule .messages.error {
	display: none;

} */

/* Comment Forms */
#comments .box {
	margin-top: 24px;
}

#comments h2 {
	margin-bottom: 24px;
}

form#comment-form {
	background: url("../images/bg/spacer_white.png") repeat scroll 0 0 transparent;
	padding: 12px 0;
}

form#comment-form .form-item {
	max-width: 100%;
	padding: 0 12px;
}

form#comment-form .form-item label {
	display: inline-block;
	margin-right: 1em;
}

form#comment-form .form-item #edit-subject-wrapper input {
	width: 350px;
}

form#comment-form .form-item .resizable-textarea {
	width: 100%;
}

form#comment-form fieldset {
	display: none;
}

form#comment-form #edit-notify-wrapper {
	margin-bottom: 0;
}

form#comment-form .form-radios {
	margin-top: 0;
}