/*grid*/
.container-12 {
  width: 100%;
  max-width: 480px;
}
.container-12 .grid-11 {
  width: 91.7%;
  max-width: 440px;
}
.container-12 .grid-10 {
  width: 83.3%;
  max-width: 400px;
}
.container-12 .grid-8 {
  width: 75%;
  max-width: 360px;
}
.container-12 .grid-7 {
  width: 66.7%;
  max-width: 320px;
}
.container-12 .grid-6 {
  width: 58.3%;
  max-width: 280px;
}
.container-12 .grid-5 {
  width: 100%;
  max-width: 480px;
}
.container-12 .grid-4 {
  width: 41.7%;
  max-width: 200px;
}
.container-12 .grid-3 {
  width: 33.33%;
  max-width: 160px;
}
.container-12 .grid-2 {
  width: 25%;
  max-width: 120px;
}
.container-12 .grid-1 {
  width: 16.7%;
  max-width: 80px;
}
/**
 * This will display them grid elements as block rather than inline for mobile browsers 
 * (essentially anything smaller than the narrow grid size, and media query declares. 
 */
.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12,
.grid-13,
.grid-14,
.grid-15,
.grid-16,
.grid-17,
.grid-18,
.grid-19,
.grid-20,
.grid-21,
.grid-22,
.grid-23,
.grid-24 {
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}
.grid-1 .push-1,
.grid-2 .push-1,
.grid-3 .push-1,
.grid-4 .push-1,
.grid-5 .push-1,
.grid-6 .push-1,
.grid-7 .push-1,
.grid-8 .push-1,
.grid-9 .push-1,
.grid-10 .push-1,
.grid-11 .push-1,
.grid-12 .push-1,
.grid-13 .push-1,
.grid-14 .push-1,
.grid-15 .push-1,
.grid-16 .push-1,
.grid-17 .push-1,
.grid-18 .push-1,
.grid-19 .push-1,
.grid-20 .push-1,
.grid-21 .push-1,
.grid-22 .push-1,
.grid-23 .push-1,
.grid-24 .push-1,
.grid-1 .push-2,
.grid-2 .push-2,
.grid-3 .push-2,
.grid-4 .push-2,
.grid-5 .push-2,
.grid-6 .push-2,
.grid-7 .push-2,
.grid-8 .push-2,
.grid-9 .push-2,
.grid-10 .push-2,
.grid-11 .push-2,
.grid-12 .push-2,
.grid-13 .push-2,
.grid-14 .push-2,
.grid-15 .push-2,
.grid-16 .push-2,
.grid-17 .push-2,
.grid-18 .push-2,
.grid-19 .push-2,
.grid-20 .push-2,
.grid-21 .push-2,
.grid-22 .push-2,
.grid-23 .push-2,
.grid-24 .push-2,
.grid-1 .push-3,
.grid-2 .push-3,
.grid-3 .push-3,
.grid-4 .push-3,
.grid-5 .push-3,
.grid-6 .push-3,
.grid-7 .push-3,
.grid-8 .push-3,
.grid-9 .push-3,
.grid-10 .push-3,
.grid-11 .push-3,
.grid-12 .push-3,
.grid-13 .push-3,
.grid-14 .push-3,
.grid-15 .push-3,
.grid-16 .push-3,
.grid-17 .push-3,
.grid-18 .push-3,
.grid-19 .push-3,
.grid-20 .push-3,
.grid-21 .push-3,
.grid-22 .push-3,
.grid-23 .push-3,
.grid-24 .push-3,
.grid-1 .push-4,
.grid-2 .push-4,
.grid-3 .push-4,
.grid-4 .push-4,
.grid-5 .push-4,
.grid-6 .push-4,
.grid-7 .push-4,
.grid-8 .push-4,
.grid-9 .push-4,
.grid-10 .push-4,
.grid-11 .push-4,
.grid-12 .push-4,
.grid-13 .push-4,
.grid-14 .push-4,
.grid-15 .push-4,
.grid-16 .push-4,
.grid-17 .push-4,
.grid-18 .push-4,
.grid-19 .push-4,
.grid-20 .push-4,
.grid-21 .push-4,
.grid-22 .push-4,
.grid-23 .push-4,
.grid-24 .push-4,
.grid-1 .push-5,
.grid-2 .push-5,
.grid-3 .push-5,
.grid-4 .push-5,
.grid-5 .push-5,
.grid-6 .push-5,
.grid-7 .push-5,
.grid-8 .push-5,
.grid-9 .push-5,
.grid-10 .push-5,
.grid-11 .push-5,
.grid-12 .push-5,
.grid-13 .push-5,
.grid-14 .push-5,
.grid-15 .push-5,
.grid-16 .push-5,
.grid-17 .push-5,
.grid-18 .push-5,
.grid-19 .push-5,
.grid-20 .push-5,
.grid-21 .push-5,
.grid-22 .push-5,
.grid-23 .push-5,
.grid-24 .push-5,
.grid-1 .push-6,
.grid-2 .push-6,
.grid-3 .push-6,
.grid-4 .push-6,
.grid-5 .push-6,
.grid-6 .push-6,
.grid-7 .push-6,
.grid-8 .push-6,
.grid-9 .push-6,
.grid-10 .push-6,
.grid-11 .push-6,
.grid-12 .push-6,
.grid-13 .push-6,
.grid-14 .push-6,
.grid-15 .push-6,
.grid-16 .push-6,
.grid-17 .push-6,
.grid-18 .push-6,
.grid-19 .push-6,
.grid-20 .push-6,
.grid-21 .push-6,
.grid-22 .push-6,
.grid-23 .push-6,
.grid-24 .push-6,
.grid-1 .push-7,
.grid-2 .push-7,
.grid-3 .push-7,
.grid-4 .push-7,
.grid-5 .push-7,
.grid-6 .push-7,
.grid-7 .push-7,
.grid-8 .push-7,
.grid-9 .push-7,
.grid-10 .push-7,
.grid-11 .push-7,
.grid-12 .push-7,
.grid-13 .push-7,
.grid-14 .push-7,
.grid-15 .push-7,
.grid-16 .push-7,
.grid-17 .push-7,
.grid-18 .push-7,
.grid-19 .push-7,
.grid-20 .push-7,
.grid-21 .push-7,
.grid-22 .push-7,
.grid-23 .push-7,
.grid-24 .push-7,
.grid-1 .push-8,
.grid-2 .push-8,
.grid-3 .push-8,
.grid-4 .push-8,
.grid-5 .push-8,
.grid-6 .push-8,
.grid-7 .push-8,
.grid-8 .push-8,
.grid-9 .push-8,
.grid-10 .push-8,
.grid-11 .push-8,
.grid-12 .push-8,
.grid-13 .push-8,
.grid-14 .push-8,
.grid-15 .push-8,
.grid-16 .push-8,
.grid-17 .push-8,
.grid-18 .push-8,
.grid-19 .push-8,
.grid-20 .push-8,
.grid-21 .push-8,
.grid-22 .push-8,
.grid-23 .push-8,
.grid-24 .push-8,
.grid-1 .push-9,
.grid-2 .push-9,
.grid-3 .push-9,
.grid-4 .push-9,
.grid-5 .push-9,
.grid-6 .push-9,
.grid-7 .push-9,
.grid-8 .push-9,
.grid-9 .push-9,
.grid-10 .push-9,
.grid-11 .push-9,
.grid-12 .push-9,
.grid-13 .push-9,
.grid-14 .push-9,
.grid-15 .push-9,
.grid-16 .push-9,
.grid-17 .push-9,
.grid-18 .push-9,
.grid-19 .push-9,
.grid-20 .push-9,
.grid-21 .push-9,
.grid-22 .push-9,
.grid-23 .push-9,
.grid-24 .push-9,
.grid-1 .push-10,
.grid-2 .push-10,
.grid-3 .push-10,
.grid-4 .push-10,
.grid-5 .push-10,
.grid-6 .push-10,
.grid-7 .push-10,
.grid-8 .push-10,
.grid-9 .push-10,
.grid-10 .push-10,
.grid-11 .push-10,
.grid-12 .push-10,
.grid-13 .push-10,
.grid-14 .push-10,
.grid-15 .push-10,
.grid-16 .push-10,
.grid-17 .push-10,
.grid-18 .push-10,
.grid-19 .push-10,
.grid-20 .push-10,
.grid-21 .push-10,
.grid-22 .push-10,
.grid-23 .push-10,
.grid-24 .push-10,
.grid-1 .push-11,
.grid-2 .push-11,
.grid-3 .push-11,
.grid-4 .push-11,
.grid-5 .push-11,
.grid-6 .push-11,
.grid-7 .push-11,
.grid-8 .push-11,
.grid-9 .push-11,
.grid-10 .push-11,
.grid-11 .push-11,
.grid-12 .push-11,
.grid-13 .push-11,
.grid-14 .push-11,
.grid-15 .push-11,
.grid-16 .push-11,
.grid-17 .push-11,
.grid-18 .push-11,
.grid-19 .push-11,
.grid-20 .push-11,
.grid-21 .push-11,
.grid-22 .push-11,
.grid-23 .push-11,
.grid-24 .push-11,
.grid-1 .push-12,
.grid-2 .push-12,
.grid-3 .push-12,
.grid-4 .push-12,
.grid-5 .push-12,
.grid-6 .push-12,
.grid-7 .push-12,
.grid-8 .push-12,
.grid-9 .push-12,
.grid-10 .push-12,
.grid-11 .push-12,
.grid-12 .push-12,
.grid-13 .push-12,
.grid-14 .push-12,
.grid-15 .push-12,
.grid-16 .push-12,
.grid-17 .push-12,
.grid-18 .push-12,
.grid-19 .push-12,
.grid-20 .push-12,
.grid-21 .push-12,
.grid-22 .push-12,
.grid-23 .push-12,
.grid-24 .push-12 {
  padding-left: 0px;
  padding-right: 0px;
}
.grid-1 .pull-1,
.grid-2 .pull-1,
.grid-3 .pull-1,
.grid-4 .pull-1,
.grid-5 .pull-1,
.grid-6 .pull-1,
.grid-7 .pull-1,
.grid-8 .pull-1,
.grid-9 .pull-1,
.grid-10 .pull-1,
.grid-11 .pull-1,
.grid-12 .pull-1,
.grid-13 .pull-1,
.grid-14 .pull-1,
.grid-15 .pull-1,
.grid-16 .pull-1,
.grid-17 .pull-1,
.grid-18 .pull-1,
.grid-19 .pull-1,
.grid-20 .pull-1,
.grid-21 .pull-1,
.grid-22 .pull-1,
.grid-23 .pull-1,
.grid-24 .pull-1,
.grid-1 .pull-2,
.grid-2 .pull-2,
.grid-3 .pull-2,
.grid-4 .pull-2,
.grid-5 .pull-2,
.grid-6 .pull-2,
.grid-7 .pull-2,
.grid-8 .pull-2,
.grid-9 .pull-2,
.grid-10 .pull-2,
.grid-11 .pull-2,
.grid-12 .pull-2,
.grid-13 .pull-2,
.grid-14 .pull-2,
.grid-15 .pull-2,
.grid-16 .pull-2,
.grid-17 .pull-2,
.grid-18 .pull-2,
.grid-19 .pull-2,
.grid-20 .pull-2,
.grid-21 .pull-2,
.grid-22 .pull-2,
.grid-23 .pull-2,
.grid-24 .pull-2,
.grid-1 .pull-3,
.grid-2 .pull-3,
.grid-3 .pull-3,
.grid-4 .pull-3,
.grid-5 .pull-3,
.grid-6 .pull-3,
.grid-7 .pull-3,
.grid-8 .pull-3,
.grid-9 .pull-3,
.grid-10 .pull-3,
.grid-11 .pull-3,
.grid-12 .pull-3,
.grid-13 .pull-3,
.grid-14 .pull-3,
.grid-15 .pull-3,
.grid-16 .pull-3,
.grid-17 .pull-3,
.grid-18 .pull-3,
.grid-19 .pull-3,
.grid-20 .pull-3,
.grid-21 .pull-3,
.grid-22 .pull-3,
.grid-23 .pull-3,
.grid-24 .pull-3,
.grid-1 .pull-4,
.grid-2 .pull-4,
.grid-3 .pull-4,
.grid-4 .pull-4,
.grid-5 .pull-4,
.grid-6 .pull-4,
.grid-7 .pull-4,
.grid-8 .pull-4,
.grid-9 .pull-4,
.grid-10 .pull-4,
.grid-11 .pull-4,
.grid-12 .pull-4,
.grid-13 .pull-4,
.grid-14 .pull-4,
.grid-15 .pull-4,
.grid-16 .pull-4,
.grid-17 .pull-4,
.grid-18 .pull-4,
.grid-19 .pull-4,
.grid-20 .pull-4,
.grid-21 .pull-4,
.grid-22 .pull-4,
.grid-23 .pull-4,
.grid-24 .pull-4,
.grid-1 .pull-5,
.grid-2 .pull-5,
.grid-3 .pull-5,
.grid-4 .pull-5,
.grid-5 .pull-5,
.grid-6 .pull-5,
.grid-7 .pull-5,
.grid-8 .pull-5,
.grid-9 .pull-5,
.grid-10 .pull-5,
.grid-11 .pull-5,
.grid-12 .pull-5,
.grid-13 .pull-5,
.grid-14 .pull-5,
.grid-15 .pull-5,
.grid-16 .pull-5,
.grid-17 .pull-5,
.grid-18 .pull-5,
.grid-19 .pull-5,
.grid-20 .pull-5,
.grid-21 .pull-5,
.grid-22 .pull-5,
.grid-23 .pull-5,
.grid-24 .pull-5,
.grid-1 .pull-6,
.grid-2 .pull-6,
.grid-3 .pull-6,
.grid-4 .pull-6,
.grid-5 .pull-6,
.grid-6 .pull-6,
.grid-7 .pull-6,
.grid-8 .pull-6,
.grid-9 .pull-6,
.grid-10 .pull-6,
.grid-11 .pull-6,
.grid-12 .pull-6,
.grid-13 .pull-6,
.grid-14 .pull-6,
.grid-15 .pull-6,
.grid-16 .pull-6,
.grid-17 .pull-6,
.grid-18 .pull-6,
.grid-19 .pull-6,
.grid-20 .pull-6,
.grid-21 .pull-6,
.grid-22 .pull-6,
.grid-23 .pull-6,
.grid-24 .pull-6,
.grid-1 .pull-7,
.grid-2 .pull-7,
.grid-3 .pull-7,
.grid-4 .pull-7,
.grid-5 .pull-7,
.grid-6 .pull-7,
.grid-7 .pull-7,
.grid-8 .pull-7,
.grid-9 .pull-7,
.grid-10 .pull-7,
.grid-11 .pull-7,
.grid-12 .pull-7,
.grid-13 .pull-7,
.grid-14 .pull-7,
.grid-15 .pull-7,
.grid-16 .pull-7,
.grid-17 .pull-7,
.grid-18 .pull-7,
.grid-19 .pull-7,
.grid-20 .pull-7,
.grid-21 .pull-7,
.grid-22 .pull-7,
.grid-23 .pull-7,
.grid-24 .pull-7,
.grid-1 .pull-8,
.grid-2 .pull-8,
.grid-3 .pull-8,
.grid-4 .pull-8,
.grid-5 .pull-8,
.grid-6 .pull-8,
.grid-7 .pull-8,
.grid-8 .pull-8,
.grid-9 .pull-8,
.grid-10 .pull-8,
.grid-11 .pull-8,
.grid-12 .pull-8,
.grid-13 .pull-8,
.grid-14 .pull-8,
.grid-15 .pull-8,
.grid-16 .pull-8,
.grid-17 .pull-8,
.grid-18 .pull-8,
.grid-19 .pull-8,
.grid-20 .pull-8,
.grid-21 .pull-8,
.grid-22 .pull-8,
.grid-23 .pull-8,
.grid-24 .pull-8,
.grid-1 .pull-9,
.grid-2 .pull-9,
.grid-3 .pull-9,
.grid-4 .pull-9,
.grid-5 .pull-9,
.grid-6 .pull-9,
.grid-7 .pull-9,
.grid-8 .pull-9,
.grid-9 .pull-9,
.grid-10 .pull-9,
.grid-11 .pull-9,
.grid-12 .pull-9,
.grid-13 .pull-9,
.grid-14 .pull-9,
.grid-15 .pull-9,
.grid-16 .pull-9,
.grid-17 .pull-9,
.grid-18 .pull-9,
.grid-19 .pull-9,
.grid-20 .pull-9,
.grid-21 .pull-9,
.grid-22 .pull-9,
.grid-23 .pull-9,
.grid-24 .pull-9,
.grid-1 .pull-10,
.grid-2 .pull-10,
.grid-3 .pull-10,
.grid-4 .pull-10,
.grid-5 .pull-10,
.grid-6 .pull-10,
.grid-7 .pull-10,
.grid-8 .pull-10,
.grid-9 .pull-10,
.grid-10 .pull-10,
.grid-11 .pull-10,
.grid-12 .pull-10,
.grid-13 .pull-10,
.grid-14 .pull-10,
.grid-15 .pull-10,
.grid-16 .pull-10,
.grid-17 .pull-10,
.grid-18 .pull-10,
.grid-19 .pull-10,
.grid-20 .pull-10,
.grid-21 .pull-10,
.grid-22 .pull-10,
.grid-23 .pull-10,
.grid-24 .pull-10,
.grid-1 .pull-11,
.grid-2 .pull-11,
.grid-3 .pull-11,
.grid-4 .pull-11,
.grid-5 .pull-11,
.grid-6 .pull-11,
.grid-7 .pull-11,
.grid-8 .pull-11,
.grid-9 .pull-11,
.grid-10 .pull-11,
.grid-11 .pull-11,
.grid-12 .pull-11,
.grid-13 .pull-11,
.grid-14 .pull-11,
.grid-15 .pull-11,
.grid-16 .pull-11,
.grid-17 .pull-11,
.grid-18 .pull-11,
.grid-19 .pull-11,
.grid-20 .pull-11,
.grid-21 .pull-11,
.grid-22 .pull-11,
.grid-23 .pull-11,
.grid-24 .pull-11,
.grid-1 .pull-12,
.grid-2 .pull-12,
.grid-3 .pull-12,
.grid-4 .pull-12,
.grid-5 .pull-12,
.grid-6 .pull-12,
.grid-7 .pull-12,
.grid-8 .pull-12,
.grid-9 .pull-12,
.grid-10 .pull-12,
.grid-11 .pull-12,
.grid-12 .pull-12,
.grid-13 .pull-12,
.grid-14 .pull-12,
.grid-15 .pull-12,
.grid-16 .pull-12,
.grid-17 .pull-12,
.grid-18 .pull-12,
.grid-19 .pull-12,
.grid-20 .pull-12,
.grid-21 .pull-12,
.grid-22 .pull-12,
.grid-23 .pull-12,
.grid-24 .pull-12 {
  padding-left: 0px;
  padding-right: 0px;
}
.grid-1 .prefix-1,
.grid-2 .prefix-1,
.grid-3 .prefix-1,
.grid-4 .prefix-1,
.grid-5 .prefix-1,
.grid-6 .prefix-1,
.grid-7 .prefix-1,
.grid-8 .prefix-1,
.grid-9 .prefix-1,
.grid-10 .prefix-1,
.grid-11 .prefix-1,
.grid-12 .prefix-1,
.grid-13 .prefix-1,
.grid-14 .prefix-1,
.grid-15 .prefix-1,
.grid-16 .prefix-1,
.grid-17 .prefix-1,
.grid-18 .prefix-1,
.grid-19 .prefix-1,
.grid-20 .prefix-1,
.grid-21 .prefix-1,
.grid-22 .prefix-1,
.grid-23 .prefix-1,
.grid-24 .prefix-1,
.grid-1 .prefix-2,
.grid-2 .prefix-2,
.grid-3 .prefix-2,
.grid-4 .prefix-2,
.grid-5 .prefix-2,
.grid-6 .prefix-2,
.grid-7 .prefix-2,
.grid-8 .prefix-2,
.grid-9 .prefix-2,
.grid-10 .prefix-2,
.grid-11 .prefix-2,
.grid-12 .prefix-2,
.grid-13 .prefix-2,
.grid-14 .prefix-2,
.grid-15 .prefix-2,
.grid-16 .prefix-2,
.grid-17 .prefix-2,
.grid-18 .prefix-2,
.grid-19 .prefix-2,
.grid-20 .prefix-2,
.grid-21 .prefix-2,
.grid-22 .prefix-2,
.grid-23 .prefix-2,
.grid-24 .prefix-2,
.grid-1 .prefix-3,
.grid-2 .prefix-3,
.grid-3 .prefix-3,
.grid-4 .prefix-3,
.grid-5 .prefix-3,
.grid-6 .prefix-3,
.grid-7 .prefix-3,
.grid-8 .prefix-3,
.grid-9 .prefix-3,
.grid-10 .prefix-3,
.grid-11 .prefix-3,
.grid-12 .prefix-3,
.grid-13 .prefix-3,
.grid-14 .prefix-3,
.grid-15 .prefix-3,
.grid-16 .prefix-3,
.grid-17 .prefix-3,
.grid-18 .prefix-3,
.grid-19 .prefix-3,
.grid-20 .prefix-3,
.grid-21 .prefix-3,
.grid-22 .prefix-3,
.grid-23 .prefix-3,
.grid-24 .prefix-3,
.grid-1 .prefix-4,
.grid-2 .prefix-4,
.grid-3 .prefix-4,
.grid-4 .prefix-4,
.grid-5 .prefix-4,
.grid-6 .prefix-4,
.grid-7 .prefix-4,
.grid-8 .prefix-4,
.grid-9 .prefix-4,
.grid-10 .prefix-4,
.grid-11 .prefix-4,
.grid-12 .prefix-4,
.grid-13 .prefix-4,
.grid-14 .prefix-4,
.grid-15 .prefix-4,
.grid-16 .prefix-4,
.grid-17 .prefix-4,
.grid-18 .prefix-4,
.grid-19 .prefix-4,
.grid-20 .prefix-4,
.grid-21 .prefix-4,
.grid-22 .prefix-4,
.grid-23 .prefix-4,
.grid-24 .prefix-4,
.grid-1 .prefix-5,
.grid-2 .prefix-5,
.grid-3 .prefix-5,
.grid-4 .prefix-5,
.grid-5 .prefix-5,
.grid-6 .prefix-5,
.grid-7 .prefix-5,
.grid-8 .prefix-5,
.grid-9 .prefix-5,
.grid-10 .prefix-5,
.grid-11 .prefix-5,
.grid-12 .prefix-5,
.grid-13 .prefix-5,
.grid-14 .prefix-5,
.grid-15 .prefix-5,
.grid-16 .prefix-5,
.grid-17 .prefix-5,
.grid-18 .prefix-5,
.grid-19 .prefix-5,
.grid-20 .prefix-5,
.grid-21 .prefix-5,
.grid-22 .prefix-5,
.grid-23 .prefix-5,
.grid-24 .prefix-5,
.grid-1 .prefix-6,
.grid-2 .prefix-6,
.grid-3 .prefix-6,
.grid-4 .prefix-6,
.grid-5 .prefix-6,
.grid-6 .prefix-6,
.grid-7 .prefix-6,
.grid-8 .prefix-6,
.grid-9 .prefix-6,
.grid-10 .prefix-6,
.grid-11 .prefix-6,
.grid-12 .prefix-6,
.grid-13 .prefix-6,
.grid-14 .prefix-6,
.grid-15 .prefix-6,
.grid-16 .prefix-6,
.grid-17 .prefix-6,
.grid-18 .prefix-6,
.grid-19 .prefix-6,
.grid-20 .prefix-6,
.grid-21 .prefix-6,
.grid-22 .prefix-6,
.grid-23 .prefix-6,
.grid-24 .prefix-6,
.grid-1 .prefix-7,
.grid-2 .prefix-7,
.grid-3 .prefix-7,
.grid-4 .prefix-7,
.grid-5 .prefix-7,
.grid-6 .prefix-7,
.grid-7 .prefix-7,
.grid-8 .prefix-7,
.grid-9 .prefix-7,
.grid-10 .prefix-7,
.grid-11 .prefix-7,
.grid-12 .prefix-7,
.grid-13 .prefix-7,
.grid-14 .prefix-7,
.grid-15 .prefix-7,
.grid-16 .prefix-7,
.grid-17 .prefix-7,
.grid-18 .prefix-7,
.grid-19 .prefix-7,
.grid-20 .prefix-7,
.grid-21 .prefix-7,
.grid-22 .prefix-7,
.grid-23 .prefix-7,
.grid-24 .prefix-7,
.grid-1 .prefix-8,
.grid-2 .prefix-8,
.grid-3 .prefix-8,
.grid-4 .prefix-8,
.grid-5 .prefix-8,
.grid-6 .prefix-8,
.grid-7 .prefix-8,
.grid-8 .prefix-8,
.grid-9 .prefix-8,
.grid-10 .prefix-8,
.grid-11 .prefix-8,
.grid-12 .prefix-8,
.grid-13 .prefix-8,
.grid-14 .prefix-8,
.grid-15 .prefix-8,
.grid-16 .prefix-8,
.grid-17 .prefix-8,
.grid-18 .prefix-8,
.grid-19 .prefix-8,
.grid-20 .prefix-8,
.grid-21 .prefix-8,
.grid-22 .prefix-8,
.grid-23 .prefix-8,
.grid-24 .prefix-8,
.grid-1 .prefix-9,
.grid-2 .prefix-9,
.grid-3 .prefix-9,
.grid-4 .prefix-9,
.grid-5 .prefix-9,
.grid-6 .prefix-9,
.grid-7 .prefix-9,
.grid-8 .prefix-9,
.grid-9 .prefix-9,
.grid-10 .prefix-9,
.grid-11 .prefix-9,
.grid-12 .prefix-9,
.grid-13 .prefix-9,
.grid-14 .prefix-9,
.grid-15 .prefix-9,
.grid-16 .prefix-9,
.grid-17 .prefix-9,
.grid-18 .prefix-9,
.grid-19 .prefix-9,
.grid-20 .prefix-9,
.grid-21 .prefix-9,
.grid-22 .prefix-9,
.grid-23 .prefix-9,
.grid-24 .prefix-9,
.grid-1 .prefix-10,
.grid-2 .prefix-10,
.grid-3 .prefix-10,
.grid-4 .prefix-10,
.grid-5 .prefix-10,
.grid-6 .prefix-10,
.grid-7 .prefix-10,
.grid-8 .prefix-10,
.grid-9 .prefix-10,
.grid-10 .prefix-10,
.grid-11 .prefix-10,
.grid-12 .prefix-10,
.grid-13 .prefix-10,
.grid-14 .prefix-10,
.grid-15 .prefix-10,
.grid-16 .prefix-10,
.grid-17 .prefix-10,
.grid-18 .prefix-10,
.grid-19 .prefix-10,
.grid-20 .prefix-10,
.grid-21 .prefix-10,
.grid-22 .prefix-10,
.grid-23 .prefix-10,
.grid-24 .prefix-10,
.grid-1 .prefix-11,
.grid-2 .prefix-11,
.grid-3 .prefix-11,
.grid-4 .prefix-11,
.grid-5 .prefix-11,
.grid-6 .prefix-11,
.grid-7 .prefix-11,
.grid-8 .prefix-11,
.grid-9 .prefix-11,
.grid-10 .prefix-11,
.grid-11 .prefix-11,
.grid-12 .prefix-11,
.grid-13 .prefix-11,
.grid-14 .prefix-11,
.grid-15 .prefix-11,
.grid-16 .prefix-11,
.grid-17 .prefix-11,
.grid-18 .prefix-11,
.grid-19 .prefix-11,
.grid-20 .prefix-11,
.grid-21 .prefix-11,
.grid-22 .prefix-11,
.grid-23 .prefix-11,
.grid-24 .prefix-11,
.grid-1 .prefix-12,
.grid-2 .prefix-12,
.grid-3 .prefix-12,
.grid-4 .prefix-12,
.grid-5 .prefix-12,
.grid-6 .prefix-12,
.grid-7 .prefix-12,
.grid-8 .prefix-12,
.grid-9 .prefix-12,
.grid-10 .prefix-12,
.grid-11 .prefix-12,
.grid-12 .prefix-12,
.grid-13 .prefix-12,
.grid-14 .prefix-12,
.grid-15 .prefix-12,
.grid-16 .prefix-12,
.grid-17 .prefix-12,
.grid-18 .prefix-12,
.grid-19 .prefix-12,
.grid-20 .prefix-12,
.grid-21 .prefix-12,
.grid-22 .prefix-12,
.grid-23 .prefix-12,
.grid-24 .prefix-12 {
  padding-left: 0px;
  padding-right: 0px;
}
.grid-1 .suffix-1,
.grid-2 .suffix-1,
.grid-3 .suffix-1,
.grid-4 .suffix-1,
.grid-5 .suffix-1,
.grid-6 .suffix-1,
.grid-7 .suffix-1,
.grid-8 .suffix-1,
.grid-9 .suffix-1,
.grid-10 .suffix-1,
.grid-11 .suffix-1,
.grid-12 .suffix-1,
.grid-13 .suffix-1,
.grid-14 .suffix-1,
.grid-15 .suffix-1,
.grid-16 .suffix-1,
.grid-17 .suffix-1,
.grid-18 .suffix-1,
.grid-19 .suffix-1,
.grid-20 .suffix-1,
.grid-21 .suffix-1,
.grid-22 .suffix-1,
.grid-23 .suffix-1,
.grid-24 .suffix-1,
.grid-1 .suffix-2,
.grid-2 .suffix-2,
.grid-3 .suffix-2,
.grid-4 .suffix-2,
.grid-5 .suffix-2,
.grid-6 .suffix-2,
.grid-7 .suffix-2,
.grid-8 .suffix-2,
.grid-9 .suffix-2,
.grid-10 .suffix-2,
.grid-11 .suffix-2,
.grid-12 .suffix-2,
.grid-13 .suffix-2,
.grid-14 .suffix-2,
.grid-15 .suffix-2,
.grid-16 .suffix-2,
.grid-17 .suffix-2,
.grid-18 .suffix-2,
.grid-19 .suffix-2,
.grid-20 .suffix-2,
.grid-21 .suffix-2,
.grid-22 .suffix-2,
.grid-23 .suffix-2,
.grid-24 .suffix-2,
.grid-1 .suffix-3,
.grid-2 .suffix-3,
.grid-3 .suffix-3,
.grid-4 .suffix-3,
.grid-5 .suffix-3,
.grid-6 .suffix-3,
.grid-7 .suffix-3,
.grid-8 .suffix-3,
.grid-9 .suffix-3,
.grid-10 .suffix-3,
.grid-11 .suffix-3,
.grid-12 .suffix-3,
.grid-13 .suffix-3,
.grid-14 .suffix-3,
.grid-15 .suffix-3,
.grid-16 .suffix-3,
.grid-17 .suffix-3,
.grid-18 .suffix-3,
.grid-19 .suffix-3,
.grid-20 .suffix-3,
.grid-21 .suffix-3,
.grid-22 .suffix-3,
.grid-23 .suffix-3,
.grid-24 .suffix-3,
.grid-1 .suffix-4,
.grid-2 .suffix-4,
.grid-3 .suffix-4,
.grid-4 .suffix-4,
.grid-5 .suffix-4,
.grid-6 .suffix-4,
.grid-7 .suffix-4,
.grid-8 .suffix-4,
.grid-9 .suffix-4,
.grid-10 .suffix-4,
.grid-11 .suffix-4,
.grid-12 .suffix-4,
.grid-13 .suffix-4,
.grid-14 .suffix-4,
.grid-15 .suffix-4,
.grid-16 .suffix-4,
.grid-17 .suffix-4,
.grid-18 .suffix-4,
.grid-19 .suffix-4,
.grid-20 .suffix-4,
.grid-21 .suffix-4,
.grid-22 .suffix-4,
.grid-23 .suffix-4,
.grid-24 .suffix-4,
.grid-1 .suffix-5,
.grid-2 .suffix-5,
.grid-3 .suffix-5,
.grid-4 .suffix-5,
.grid-5 .suffix-5,
.grid-6 .suffix-5,
.grid-7 .suffix-5,
.grid-8 .suffix-5,
.grid-9 .suffix-5,
.grid-10 .suffix-5,
.grid-11 .suffix-5,
.grid-12 .suffix-5,
.grid-13 .suffix-5,
.grid-14 .suffix-5,
.grid-15 .suffix-5,
.grid-16 .suffix-5,
.grid-17 .suffix-5,
.grid-18 .suffix-5,
.grid-19 .suffix-5,
.grid-20 .suffix-5,
.grid-21 .suffix-5,
.grid-22 .suffix-5,
.grid-23 .suffix-5,
.grid-24 .suffix-5,
.grid-1 .suffix-6,
.grid-2 .suffix-6,
.grid-3 .suffix-6,
.grid-4 .suffix-6,
.grid-5 .suffix-6,
.grid-6 .suffix-6,
.grid-7 .suffix-6,
.grid-8 .suffix-6,
.grid-9 .suffix-6,
.grid-10 .suffix-6,
.grid-11 .suffix-6,
.grid-12 .suffix-6,
.grid-13 .suffix-6,
.grid-14 .suffix-6,
.grid-15 .suffix-6,
.grid-16 .suffix-6,
.grid-17 .suffix-6,
.grid-18 .suffix-6,
.grid-19 .suffix-6,
.grid-20 .suffix-6,
.grid-21 .suffix-6,
.grid-22 .suffix-6,
.grid-23 .suffix-6,
.grid-24 .suffix-6,
.grid-1 .suffix-7,
.grid-2 .suffix-7,
.grid-3 .suffix-7,
.grid-4 .suffix-7,
.grid-5 .suffix-7,
.grid-6 .suffix-7,
.grid-7 .suffix-7,
.grid-8 .suffix-7,
.grid-9 .suffix-7,
.grid-10 .suffix-7,
.grid-11 .suffix-7,
.grid-12 .suffix-7,
.grid-13 .suffix-7,
.grid-14 .suffix-7,
.grid-15 .suffix-7,
.grid-16 .suffix-7,
.grid-17 .suffix-7,
.grid-18 .suffix-7,
.grid-19 .suffix-7,
.grid-20 .suffix-7,
.grid-21 .suffix-7,
.grid-22 .suffix-7,
.grid-23 .suffix-7,
.grid-24 .suffix-7,
.grid-1 .suffix-8,
.grid-2 .suffix-8,
.grid-3 .suffix-8,
.grid-4 .suffix-8,
.grid-5 .suffix-8,
.grid-6 .suffix-8,
.grid-7 .suffix-8,
.grid-8 .suffix-8,
.grid-9 .suffix-8,
.grid-10 .suffix-8,
.grid-11 .suffix-8,
.grid-12 .suffix-8,
.grid-13 .suffix-8,
.grid-14 .suffix-8,
.grid-15 .suffix-8,
.grid-16 .suffix-8,
.grid-17 .suffix-8,
.grid-18 .suffix-8,
.grid-19 .suffix-8,
.grid-20 .suffix-8,
.grid-21 .suffix-8,
.grid-22 .suffix-8,
.grid-23 .suffix-8,
.grid-24 .suffix-8,
.grid-1 .suffix-9,
.grid-2 .suffix-9,
.grid-3 .suffix-9,
.grid-4 .suffix-9,
.grid-5 .suffix-9,
.grid-6 .suffix-9,
.grid-7 .suffix-9,
.grid-8 .suffix-9,
.grid-9 .suffix-9,
.grid-10 .suffix-9,
.grid-11 .suffix-9,
.grid-12 .suffix-9,
.grid-13 .suffix-9,
.grid-14 .suffix-9,
.grid-15 .suffix-9,
.grid-16 .suffix-9,
.grid-17 .suffix-9,
.grid-18 .suffix-9,
.grid-19 .suffix-9,
.grid-20 .suffix-9,
.grid-21 .suffix-9,
.grid-22 .suffix-9,
.grid-23 .suffix-9,
.grid-24 .suffix-9,
.grid-1 .suffix-10,
.grid-2 .suffix-10,
.grid-3 .suffix-10,
.grid-4 .suffix-10,
.grid-5 .suffix-10,
.grid-6 .suffix-10,
.grid-7 .suffix-10,
.grid-8 .suffix-10,
.grid-9 .suffix-10,
.grid-10 .suffix-10,
.grid-11 .suffix-10,
.grid-12 .suffix-10,
.grid-13 .suffix-10,
.grid-14 .suffix-10,
.grid-15 .suffix-10,
.grid-16 .suffix-10,
.grid-17 .suffix-10,
.grid-18 .suffix-10,
.grid-19 .suffix-10,
.grid-20 .suffix-10,
.grid-21 .suffix-10,
.grid-22 .suffix-10,
.grid-23 .suffix-10,
.grid-24 .suffix-10,
.grid-1 .suffix-11,
.grid-2 .suffix-11,
.grid-3 .suffix-11,
.grid-4 .suffix-11,
.grid-5 .suffix-11,
.grid-6 .suffix-11,
.grid-7 .suffix-11,
.grid-8 .suffix-11,
.grid-9 .suffix-11,
.grid-10 .suffix-11,
.grid-11 .suffix-11,
.grid-12 .suffix-11,
.grid-13 .suffix-11,
.grid-14 .suffix-11,
.grid-15 .suffix-11,
.grid-16 .suffix-11,
.grid-17 .suffix-11,
.grid-18 .suffix-11,
.grid-19 .suffix-11,
.grid-20 .suffix-11,
.grid-21 .suffix-11,
.grid-22 .suffix-11,
.grid-23 .suffix-11,
.grid-24 .suffix-11,
.grid-1 .suffix-12,
.grid-2 .suffix-12,
.grid-3 .suffix-12,
.grid-4 .suffix-12,
.grid-5 .suffix-12,
.grid-6 .suffix-12,
.grid-7 .suffix-12,
.grid-8 .suffix-12,
.grid-9 .suffix-12,
.grid-10 .suffix-12,
.grid-11 .suffix-12,
.grid-12 .suffix-12,
.grid-13 .suffix-12,
.grid-14 .suffix-12,
.grid-15 .suffix-12,
.grid-16 .suffix-12,
.grid-17 .suffix-12,
.grid-18 .suffix-12,
.grid-19 .suffix-12,
.grid-20 .suffix-12,
.grid-21 .suffix-12,
.grid-22 .suffix-12,
.grid-23 .suffix-12,
.grid-24 .suffix-12 {
  padding-left: 0px;
  padding-right: 0px;
}
.container-12 .push-1,
.container-12 .push-2,
.container-12 .push-3,
.container-12 .push-4,
.container-12 .push-5,
.container-12 .push-6,
.container-12 .push-7,
.container-12 .push-8,
.container-12 .push-9,
.container-12 .push-10,
.container-12 .push-11,
.container-12 .push-12 {
  padding-left: 0px;
  padding-right: 0px;
}
.container-12 .pull-1,
.container-12 .pull-2,
.container-12 .pull-3,
.container-12 .pull-4,
.container-12 .pull-5,
.container-12 .pull-6,
.container-12 .pull-7,
.container-12 .pull-8,
.container-12 .pull-9,
.container-12 .pull-10,
.container-12 .pull-11,
.container-12 .pull-12 {
  padding-left: 0px;
  padding-right: 0px;
}
.container-12 .prefix-1,
.container-12 .prefix-2,
.container-12 .prefix-3,
.container-12 .prefix-4,
.container-12 .prefix-5,
.container-12 .prefix-6,
.container-12 .prefix-7,
.container-12 .prefix-8,
.container-12 .prefix-9,
.container-12 .prefix-10,
.container-12 .prefix-11,
.container-12 .prefix-12 {
  padding-left: 0px;
  padding-right: 0px;
}
.container-12 .suffix-1,
.container-12 .suffix-2,
.container-12 .suffix-3,
.container-12 .suffix-4,
.container-12 .suffix-5,
.container-12 .suffix-6,
.container-12 .suffix-7,
.container-12 .suffix-8,
.container-12 .suffix-9,
.container-12 .suffix-10,
.container-12 .suffix-11,
.container-12 .suffix-12 {
  padding-left: 0px;
  padding-right: 0px;
}
/*body{width:100%; overflow-x:hidden;}*/
/*links - no hover*/
.more-link a:hover,
.more-link a:focus,
a.more-link:hover,
a.more-link:focus,
.more-link a:link,
.more-link a:visited,
a.more-link:link,
a.more-link:visited {
  background: url("../images/btn/pager.png") no-repeat scroll right -16px #29736b;
  border-radius: 16px 16px 16px 16px;
  color: #FFFFFF;
  display: inline-block;
  font-size: 12px;
  height: 16px;
  padding: 0 1em 4px 0.5em;
  text-decoration: none;
  text-indent: 0;
  width: auto;
}
#block-views-sponsors_mobile-block_10 {
  background: url('../images/bg/body_bg.png') repeat;
}
h1.title {
  margin-left: 4%;
}
#view-id-sessions-block_3 .view-footer {
  position: relative;
  right: 10px;
}
/*hides, this is a clone of the context reactions for display resizing*/
#block-views-front_page_slideshow-block_1, #user-bar-zone-wrapper #block-menu-secondary-links, #preface-first {
  display: none;
}
#page-outer-wrapper {
  /*background:transparent;
  border-top:2px solid #d7382a;*/

}
#user-bar-zone-wrapper {
  height: 65px;
  max-height: 65px;
  background: #2a2b2c;
}
#user-bar-zone-wrapper #user-bar-regions .dcc-user-welcome {
  text-align: center;
}
#user-bar-zone-wrapper #user-bar-regions .dcc-user-welcome .content-inner {
  margin-top: 0px;
  margin-bottom: 0px;
}
#user-bar-zone-wrapper #user-bar-regions .dcc-user-welcome .content-inner p {
  margin-top: 0px;
  margin-bottom: 0px;
}
div.error {
  display: none;
}
.front #header-zone-wrapper {
  height: 160px;
}
.view-cod-schedule-mobile h3 {
  width: 100%;
  padding: 0px;
}
.view-cod-schedule-mobile .accordion-content {
  background: #fffefa url('../images/bg/body_bg.png') repeat left top;
}
.view-cod-schedule-mobile .accordion-item-first {
  margin-top: 0px !important;
}
.view-cod-schedule-mobile .accordion-item-last {
  margin-bottom: 0px !important;
}
.view-cod-schedule-mobile .views-accordion-item.active {
  height: 100%;
}
.view-cod-schedule-mobile .views-accordion-item {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #eaeaea));
  background: -moz-linear-gradient(top center, #ffffff 0%, #eaeaea 100%);
  border-color: #dfdfdf transparent #9d9d9d #cacaca;
  border-right-color: blue;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px 5px 1px 1px;
  box-shadow: 0 1px 1px 0 #999;
  padding: 0 10px;
  width: 92%;
  height: 70px;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
}
.view-cod-schedule-mobile .views-accordion-item .time {
  float: left;
}
.view-cod-schedule-mobile .views-accordion-item h5.title {
  width: 95%;
  font-size: 15px;
  float: left;
  height: 20px;
  padding-left: 8px;
  background-position-x: 0px;
  display: block;
  overflow: hidden;
}
.view-cod-schedule-mobile .views-accordion-item .speaker-image {
  float: right;
  position: relative;
  top: 2px;
}
.view-cod-schedule-mobile .views-accordion-item .speaker-image img {
  height: 30px;
  width: auto;
}
.view-cod-schedule-mobile .views-accordion-item div.load-space {
  float: left;
}
.view-cod-schedule-mobile .views-accordion-item div.load-container {
  margin-bottom: 10px;
}
.view-cod-schedule-mobile .views-accordion-item span.exp-lvl {
  display: none;
}
.view-cod-schedule-mobile .views-accordion-item button:focus,
.view-cod-schedule-mobile .views-accordion-item button:active,
.view-cod-schedule-mobile .views-accordion-item .button:focus,
.view-cod-schedule-mobile .views-accordion-item .button:active {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.view-cod-schedule-mobile .views-accordion-item span.schedule-add {
  float: right;
  background: transparent;
  border: 0px;
}
.view-cod-schedule-mobile .views-accordion-item span.schedule-add span.flag-message {
  display: none !important;
}
.view-cod-schedule-mobile .views-accordion-item span.schedule-add a:hover {
  border: 0px;
}
.view-cod-schedule-mobile .views-accordion-item span.schedule-add a:active {
  border: 0px;
}
.view-cod-schedule-mobile .views-accordion-item span.schedule-add .flag-wrapper {
  position: relative;
  bottom: 14px;
  left: 24px;
}
.view-cod-schedule-mobile .views-accordion-item span.schedule-add .flag-wrapper a.flag-action::before, .view-cod-schedule-mobile .views-accordion-item span.schedule-add .flag-wrapper a.unflag-action::before {
  outline: none;
  postion: relative;
  top: 10px !important;
  right: 10px !important;
  left: auto !important;
  -webkit-appearance: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  background: #13685b url(../images/button.png) repeat-x;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #7cc3ba), color-stop(1, #29736b));
  background: -moz-linear-gradient(top center, #7cc3ba 0%, #29736b 100%);
  border: 1px solid;
  border-color: #3cc6b8 #378b80 #13685b;
}
.view-cod-schedule-mobile .views-accordion-item span.schedule-add .flag-wrapper a.flag-action::after, .view-cod-schedule-mobile .views-accordion-item span.schedule-add .flag-wrapper a.unflag-action::after {
  outline: none;
  postion: relative;
  top: 10px !important;
  right: 10px !important;
  left: auto !important;
  -webkit-appearance: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  background: #13685b url(../images/button.png) repeat-x;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #7cc3ba), color-stop(1, #29736b));
  background: -moz-linear-gradient(top center, #7cc3ba 0%, #29736b 100%);
  border: 1px solid;
  border-color: #3cc6b8 #378b80 #13685b;
}
.page-program-session-schedule-your-schedule .view-id-cod_schedule_mobile .session .presentation-inner .session-info {
  width: 100% !important;
}
.page-program-session-schedule-your-schedule .presentation .presenter {
  float: right !important;
  position: relative;
  top: 2px;
  display: block;
  max-width: inherit;
  padding: 0px;
  width: 9%;
  height: auto;
}
.page-program-session-schedule-your-schedule .presentation .presenter img {
  height: 30px;
  width: auto;
}
.page-program-sessions .view-sessions .view-content .session,
.page-program-sessions-accepted .view-sessions .view-content .session,
.page-program-session-schedule-your-schedule .view-sessions .view-content .session,
.page-program-sessions .view-id-cod_schedule_mobile .view-content .session,
.page-program-sessions-accepted .view-id-cod_schedule_mobile .view-content .session,
.page-program-session-schedule-your-schedule .view-id-cod_schedule_mobile .view-content .session {
  width: 92%;
  height: 80px;
}
.page-program-sessions .view-sessions .view-content .session .presentation-inner,
.page-program-sessions-accepted .view-sessions .view-content .session .presentation-inner,
.page-program-session-schedule-your-schedule .view-sessions .view-content .session .presentation-inner,
.page-program-sessions .view-id-cod_schedule_mobile .view-content .session .presentation-inner,
.page-program-sessions-accepted .view-id-cod_schedule_mobile .view-content .session .presentation-inner,
.page-program-session-schedule-your-schedule .view-id-cod_schedule_mobile .view-content .session .presentation-inner {
  width: 100% !important;
  max-height: 80px;
}
.page-program-sessions .view-sessions .view-content .session .presentation-inner .session-info,
.page-program-sessions-accepted .view-sessions .view-content .session .presentation-inner .session-info,
.page-program-session-schedule-your-schedule .view-sessions .view-content .session .presentation-inner .session-info,
.page-program-sessions .view-id-cod_schedule_mobile .view-content .session .presentation-inner .session-info,
.page-program-sessions-accepted .view-id-cod_schedule_mobile .view-content .session .presentation-inner .session-info,
.page-program-session-schedule-your-schedule .view-id-cod_schedule_mobile .view-content .session .presentation-inner .session-info {
  width: 85%;
  float: left;
  max-height: 75px;
}
.page-program-sessions .view-sessions .view-content .session .presentation-inner .session-info h5.title,
.page-program-sessions-accepted .view-sessions .view-content .session .presentation-inner .session-info h5.title,
.page-program-session-schedule-your-schedule .view-sessions .view-content .session .presentation-inner .session-info h5.title,
.page-program-sessions .view-id-cod_schedule_mobile .view-content .session .presentation-inner .session-info h5.title,
.page-program-sessions-accepted .view-id-cod_schedule_mobile .view-content .session .presentation-inner .session-info h5.title,
.page-program-session-schedule-your-schedule .view-id-cod_schedule_mobile .view-content .session .presentation-inner .session-info h5.title {
  max-width: 85%;
  font-size: 15px;
  width: 95%;
  font-size: 15px;
  float: left;
  height: 20px;
  padding-left: 8px;
  background-position-x: 0px;
  display: block;
  height: 72px;
  overflow: hidden;
}
.page-program-sessions .view-sessions .view-content .session .presentation-inner .session-info .question,
.page-program-sessions-accepted .view-sessions .view-content .session .presentation-inner .session-info .question,
.page-program-session-schedule-your-schedule .view-sessions .view-content .session .presentation-inner .session-info .question,
.page-program-sessions .view-id-cod_schedule_mobile .view-content .session .presentation-inner .session-info .question,
.page-program-sessions-accepted .view-id-cod_schedule_mobile .view-content .session .presentation-inner .session-info .question,
.page-program-session-schedule-your-schedule .view-id-cod_schedule_mobile .view-content .session .presentation-inner .session-info .question {
  padding-left: 24px;
  display: none;
}
.page-program-sessions .view-sessions .view-content .session .presentation-inner .session-meta,
.page-program-sessions-accepted .view-sessions .view-content .session .presentation-inner .session-meta,
.page-program-session-schedule-your-schedule .view-sessions .view-content .session .presentation-inner .session-meta,
.page-program-sessions .view-id-cod_schedule_mobile .view-content .session .presentation-inner .session-meta,
.page-program-sessions-accepted .view-id-cod_schedule_mobile .view-content .session .presentation-inner .session-meta,
.page-program-session-schedule-your-schedule .view-id-cod_schedule_mobile .view-content .session .presentation-inner .session-meta {
  width: 5%;
  float: right;
}
.page-program-sessions .view-sessions .view-content .session .presentation-inner .session-meta .speaker-image,
.page-program-sessions-accepted .view-sessions .view-content .session .presentation-inner .session-meta .speaker-image,
.page-program-session-schedule-your-schedule .view-sessions .view-content .session .presentation-inner .session-meta .speaker-image,
.page-program-sessions .view-id-cod_schedule_mobile .view-content .session .presentation-inner .session-meta .speaker-image,
.page-program-sessions-accepted .view-id-cod_schedule_mobile .view-content .session .presentation-inner .session-meta .speaker-image,
.page-program-session-schedule-your-schedule .view-id-cod_schedule_mobile .view-content .session .presentation-inner .session-meta .speaker-image {
  float: right !important;
  position: relative;
  top: 2px;
  width: 30px;
}
.page-program-sessions .view-sessions .view-content .session .presentation-inner .session-meta .speaker-image img,
.page-program-sessions-accepted .view-sessions .view-content .session .presentation-inner .session-meta .speaker-image img,
.page-program-session-schedule-your-schedule .view-sessions .view-content .session .presentation-inner .session-meta .speaker-image img,
.page-program-sessions .view-id-cod_schedule_mobile .view-content .session .presentation-inner .session-meta .speaker-image img,
.page-program-sessions-accepted .view-id-cod_schedule_mobile .view-content .session .presentation-inner .session-meta .speaker-image img,
.page-program-session-schedule-your-schedule .view-id-cod_schedule_mobile .view-content .session .presentation-inner .session-meta .speaker-image img {
  height: 30px;
  width: auto;
}
.page-program-sessions .view-sessions .view-content .session .presentation-inner .session-meta .exp-lvl,
.page-program-sessions-accepted .view-sessions .view-content .session .presentation-inner .session-meta .exp-lvl,
.page-program-session-schedule-your-schedule .view-sessions .view-content .session .presentation-inner .session-meta .exp-lvl,
.page-program-sessions .view-id-cod_schedule_mobile .view-content .session .presentation-inner .session-meta .exp-lvl,
.page-program-sessions-accepted .view-id-cod_schedule_mobile .view-content .session .presentation-inner .session-meta .exp-lvl,
.page-program-session-schedule-your-schedule .view-id-cod_schedule_mobile .view-content .session .presentation-inner .session-meta .exp-lvl {
  display: block;
  position: relative;
  right: 45px;
}
.page-program-sessions .view-sessions .views-widget select,
.page-program-sessions-accepted .view-sessions .views-widget select,
.page-program-session-schedule-your-schedule .view-sessions .views-widget select,
.page-program-sessions .view-id-cod_schedule_mobile .views-widget select,
.page-program-sessions-accepted .view-id-cod_schedule_mobile .views-widget select,
.page-program-session-schedule-your-schedule .view-id-cod_schedule_mobile .views-widget select {
  max-width: 350px;
}
.page-program-sessions .view-sessions .views-exposed-widget,
.page-program-sessions-accepted .view-sessions .views-exposed-widget,
.page-program-session-schedule-your-schedule .view-sessions .views-exposed-widget,
.page-program-sessions .view-id-cod_schedule_mobile .views-exposed-widget,
.page-program-sessions-accepted .view-id-cod_schedule_mobile .views-exposed-widget,
.page-program-session-schedule-your-schedule .view-id-cod_schedule_mobile .views-exposed-widget {
  text-align: center;
  width: 100%;
  padding-right: 0px;
}
.page-program-sessions .view-sessions .views-exposed-widget #edit-field-experience-value-many-to-one,
.page-program-sessions-accepted .view-sessions .views-exposed-widget #edit-field-experience-value-many-to-one,
.page-program-session-schedule-your-schedule .view-sessions .views-exposed-widget #edit-field-experience-value-many-to-one,
.page-program-sessions .view-id-cod_schedule_mobile .views-exposed-widget #edit-field-experience-value-many-to-one,
.page-program-sessions-accepted .view-id-cod_schedule_mobile .views-exposed-widget #edit-field-experience-value-many-to-one,
.page-program-session-schedule-your-schedule .view-id-cod_schedule_mobile .views-exposed-widget #edit-field-experience-value-many-to-one {
  width: 50%;
}
.page-program-sessions .view-sessions .views-exposed-widget #edit-submit-sessions,
.page-program-sessions-accepted .view-sessions .views-exposed-widget #edit-submit-sessions,
.page-program-session-schedule-your-schedule .view-sessions .views-exposed-widget #edit-submit-sessions,
.page-program-sessions .view-id-cod_schedule_mobile .views-exposed-widget #edit-submit-sessions,
.page-program-sessions-accepted .view-id-cod_schedule_mobile .views-exposed-widget #edit-submit-sessions,
.page-program-session-schedule-your-schedule .view-id-cod_schedule_mobile .views-exposed-widget #edit-submit-sessions {
  margin-top: 10px;
}
.page-program-sessions .view-sessions .views-exposed-widget div.bef-select-as-checkboxes #edit-field-track-value-many-to-one-Code-wrapper,
.page-program-sessions-accepted .view-sessions .views-exposed-widget div.bef-select-as-checkboxes #edit-field-track-value-many-to-one-Code-wrapper,
.page-program-session-schedule-your-schedule .view-sessions .views-exposed-widget div.bef-select-as-checkboxes #edit-field-track-value-many-to-one-Code-wrapper,
.page-program-sessions .view-id-cod_schedule_mobile .views-exposed-widget div.bef-select-as-checkboxes #edit-field-track-value-many-to-one-Code-wrapper,
.page-program-sessions-accepted .view-id-cod_schedule_mobile .views-exposed-widget div.bef-select-as-checkboxes #edit-field-track-value-many-to-one-Code-wrapper,
.page-program-session-schedule-your-schedule .view-id-cod_schedule_mobile .views-exposed-widget div.bef-select-as-checkboxes #edit-field-track-value-many-to-one-Code-wrapper {
  margin-right: 5%;
  margin-left: 5%;
}
.page-program-sessions .view-sessions .views-exposed-widget div.bef-select-as-checkboxes #edit-field-track-value-many-to-one-Build-wrapper,
.page-program-sessions-accepted .view-sessions .views-exposed-widget div.bef-select-as-checkboxes #edit-field-track-value-many-to-one-Build-wrapper,
.page-program-session-schedule-your-schedule .view-sessions .views-exposed-widget div.bef-select-as-checkboxes #edit-field-track-value-many-to-one-Build-wrapper,
.page-program-sessions .view-id-cod_schedule_mobile .views-exposed-widget div.bef-select-as-checkboxes #edit-field-track-value-many-to-one-Build-wrapper,
.page-program-sessions-accepted .view-id-cod_schedule_mobile .views-exposed-widget div.bef-select-as-checkboxes #edit-field-track-value-many-to-one-Build-wrapper,
.page-program-session-schedule-your-schedule .view-id-cod_schedule_mobile .views-exposed-widget div.bef-select-as-checkboxes #edit-field-track-value-many-to-one-Build-wrapper {
  margin-left: 5%;
  margin-right: 5%;
}
.page-program-sessions .view-sessions .views-exposed-widget div.bef-select-as-checkboxes #edit-field-track-value-many-to-one-Design-wrapper,
.page-program-sessions-accepted .view-sessions .views-exposed-widget div.bef-select-as-checkboxes #edit-field-track-value-many-to-one-Design-wrapper,
.page-program-session-schedule-your-schedule .view-sessions .views-exposed-widget div.bef-select-as-checkboxes #edit-field-track-value-many-to-one-Design-wrapper,
.page-program-sessions .view-id-cod_schedule_mobile .views-exposed-widget div.bef-select-as-checkboxes #edit-field-track-value-many-to-one-Design-wrapper,
.page-program-sessions-accepted .view-id-cod_schedule_mobile .views-exposed-widget div.bef-select-as-checkboxes #edit-field-track-value-many-to-one-Design-wrapper,
.page-program-session-schedule-your-schedule .view-id-cod_schedule_mobile .views-exposed-widget div.bef-select-as-checkboxes #edit-field-track-value-many-to-one-Design-wrapper {
  margin-right: 5%;
  margin-left: 5%;
}
.page-program-sessions .view-sessions .views-exposed-widget div.bef-select-as-checkboxes #edit-field-track-value-many-to-one-Business-wrapper,
.page-program-sessions-accepted .view-sessions .views-exposed-widget div.bef-select-as-checkboxes #edit-field-track-value-many-to-one-Business-wrapper,
.page-program-session-schedule-your-schedule .view-sessions .views-exposed-widget div.bef-select-as-checkboxes #edit-field-track-value-many-to-one-Business-wrapper,
.page-program-sessions .view-id-cod_schedule_mobile .views-exposed-widget div.bef-select-as-checkboxes #edit-field-track-value-many-to-one-Business-wrapper,
.page-program-sessions-accepted .view-id-cod_schedule_mobile .views-exposed-widget div.bef-select-as-checkboxes #edit-field-track-value-many-to-one-Business-wrapper,
.page-program-session-schedule-your-schedule .view-id-cod_schedule_mobile .views-exposed-widget div.bef-select-as-checkboxes #edit-field-track-value-many-to-one-Business-wrapper {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10px;
}
.page-program-sessions .view-sessions .views-exposed-widget div.bef-select-as-checkboxes #edit-field-track-value-many-to-one-Community-wrapper,
.page-program-sessions-accepted .view-sessions .views-exposed-widget div.bef-select-as-checkboxes #edit-field-track-value-many-to-one-Community-wrapper,
.page-program-session-schedule-your-schedule .view-sessions .views-exposed-widget div.bef-select-as-checkboxes #edit-field-track-value-many-to-one-Community-wrapper,
.page-program-sessions .view-id-cod_schedule_mobile .views-exposed-widget div.bef-select-as-checkboxes #edit-field-track-value-many-to-one-Community-wrapper,
.page-program-sessions-accepted .view-id-cod_schedule_mobile .views-exposed-widget div.bef-select-as-checkboxes #edit-field-track-value-many-to-one-Community-wrapper,
.page-program-session-schedule-your-schedule .view-id-cod_schedule_mobile .views-exposed-widget div.bef-select-as-checkboxes #edit-field-track-value-many-to-one-Community-wrapper {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10px;
}
#header-zone-wrapper {
  height: 160px;
}
#header-zone-wrapper h1.page-title {
  position: relative;
  top: 53px;
}
#header-zone-wrapper #site-header {
  height: 75px;
  max-height: 75px;
  /* need bg to adjust brown area*/

}
#header-zone-wrapper #site-header #branding img {
  width: 300px !important;
  height: auto !important;
}
#header-zone-wrapper #site-header #site-menu {
  /*m-version of site mnu*/

  text-align: center;
  position: relative;
  top: 44px;
}
#header-zone-wrapper #site-header #site-menu select.site-menu-mobile {
  width: 80%;
}
#header-zone-wrapper #site-header #site-menu ul {
  width: 100%;
  background: gray;
}
#header-zone-wrapper #site-header #site-menu ul li, #header-zone-wrapper #site-header #site-menu ul li.first, #header-zone-wrapper #site-header #site-menu ul li.last {
  width: 100%;
  display: block;
  background-position-x: 85%;
  background: transparent url('../images/nav_sep.png') no-repeat right 1em;
}
#header-zone-wrapper #site-header #site-menu ul li a, #header-zone-wrapper #site-header #site-menu ul li.first a, #header-zone-wrapper #site-header #site-menu ul li.last a {
  font-size: 17px;
  margin-left: 6px;
  border-bottom: 0px;
}
#header-zone-wrapper #site-header #site-menu ul li.active {
  border-bottom: 0px;
  background: #29ABE1;
}
#preface-middle #block-views-uc_products-block_1 {
  text-align: center;
}
#preface-middle #block-views-uc_products-block_1 .register-cta .stock {
  float: none;
  width: 100%;
  font-size: 85px;
  display: block;
  line-height: 25px;
  margin-top: 25px;
  padding-right: 0px;
}
#view-id-attendees-page_1 #views-exposed-form-attendees-page-1 .views-exposed-widget {
  width: 95%;
  margin-left: 5%;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 0px;
  text-align: center;
}
#view-id-attendees-page_1 #views-exposed-form-attendees-page-1 .views-exposed-widget label {
  text-align: left;
  width: 45%;
  float: left;
}
#view-id-attendees-page_1 #views-exposed-form-attendees-page-1 .views-exposed-widget .views-widget {
  width: 45%;
  float: right;
  margin-right: 5%;
}
#view-id-attendees-page_1 .view-content .attendee {
  width: 100%;
  margin-right: 0px;
  min-height: inherit;
}
#view-id-attendees-page_1 .view-content .attendee .attendee-overlay {
  position: absolute;
  left: 50%;
  display: block;
  width: 50%;
  height: 100%;
  padding: 0px;
}
#view-id-attendees-page_1 .view-content .attendee .attendee-overlay .fullname {
  min-height: 10px;
}
#view-id-attendees-page_1 .view-content .attendee .picture img {
  width: 50%;
  height: auto;
}
#view-id-attendees-block_1 .views-view-grid {
  text-align: center;
}
#preface-wrapper {
  margin-top: 0px;
}
/*quicktabs*/
.quicktabs-processed ul {
  width: 100%;
}
.quicktabs-processed ul li {
  width: 100%;
  display: block;
}
/*sponsors footer*/
#view-id-sponsors_mobile-block_10 .views-accordion h3 {
  padding-top: 0px;
  padding-bottom: 0px;
}
/*dir page*/
#node-page-68 iframe {
  width: 100% !important;
}
#footer-message {
  text-align: center;
}
/*twtr*/
#twtr-widget-1 .twtr-doc {
  width: 350px !important;
}
#twtr-widget-1 .twtr-doc .twtr-tweet {
  width: 350px !important;
}
/*page specific*/
.page-about-directions #main-wrapper p, .page-about-eat-drink-sleep #main-wrapper p {
  font-size: 10px;
  line-height: 10px;
}
.page-about-directions #main-wrapper p a.callout:link,
.page-about-eat-drink-sleep #main-wrapper p a.callout:link,
.page-about-directions #main-wrapper p a.callout:visited,
.page-about-eat-drink-sleep #main-wrapper p a.callout:visited {
  font-size: 10px;
  line-height: 15px;
}
.page-code-conduct #main-wrapper p {
  font-size: 10px;
  line-height: 10px;
}
.page-about-eat-drink-sleep #main-wrapper li, .page-code-conduct #main-wrapper li {
  font-size: 10px;
  line-height: 10px;
}
