/*grid*/
.container-12{
  width:100%;
  max-width:480px;

  .grid-11{
    width:91.7%;
    max-width:440px;
  }

  .grid-10{
    width:83.3%;
    max-width:400px;
  }
  .grid-8{
    width: 75%;
    max-width: 360px;
  }
  .grid-7{
    width: 66.7%;
    max-width: 320px;
  }
  .grid-6{
    width: 58.3%;
    max-width: 280px;
  }
    
  .grid-5{
    width: 100%;
    max-width: 480px;
  }

  .grid-4{
    width: 41.7%;
    max-width: 200px;
  }

  .grid-3{
    width:33.33%;
    max-width: 160px;
  }
  .grid-2{
    width: 25%;
    max-width: 120px;
  }

  .grid-1{
    width:16.7%;
    max-width: 80px;
  }
}

/**
 * This will display them grid elements as block rather than inline for mobile browsers 
 * (essentially anything smaller than the narrow grid size, and media query declares. 
 */
.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10,
.grid-11, .grid-12, .grid-13, .grid-14, .grid-15, .grid-16, .grid-17, .grid-18, .grid-19,
.grid-20, .grid-21, .grid-22, .grid-23, .grid-24{
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  .push-1, .push-2, .push-3, .push-4, .push-5, .push-6, .push-7, .push-8, .push-9, .push-10, .push-11, .push-12{
    padding-left:0px; padding-right:0px;
  }
  .pull-1, .pull-2, .pull-3, .pull-4, .pull-5, .pull-6, .pull-7, .pull-8, .pull-9, .pull-10, .pull-11, .pull-12{
    padding-left:0px; padding-right:0px;
  }
  .prefix-1, .prefix-2, .prefix-3, .prefix-4, .prefix-5, .prefix-6, .prefix-7, .prefix-8, .prefix-9, .prefix-10, .prefix-11, .prefix-12{
    padding-left:0px; padding-right:0px;
  }
  .suffix-1, .suffix-2, .suffix-3, .suffix-4, .suffix-5, .suffix-6, .suffix-7, .suffix-8, .suffix-9, .suffix-10, .suffix-11, .suffix-12{
    padding-left:0px; padding-right:0px;
  }
}
.container-12{
  .push-1, .push-2, .push-3, .push-4, .push-5, .push-6, .push-7, .push-8, .push-9, .push-10, .push-11, .push-12{
    padding-left:0px; padding-right:0px;
  }
  .pull-1, .pull-2, .pull-3, .pull-4, .pull-5, .pull-6, .pull-7, .pull-8, .pull-9, .pull-10, .pull-11, .pull-12{
    padding-left:0px; padding-right:0px;
  }
  .prefix-1, .prefix-2, .prefix-3, .prefix-4, .prefix-5, .prefix-6, .prefix-7, .prefix-8, .prefix-9, .prefix-10, .prefix-11, .prefix-12{
    padding-left:0px; padding-right:0px;
  }
  .suffix-1, .suffix-2, .suffix-3, .suffix-4, .suffix-5, .suffix-6, .suffix-7, .suffix-8, .suffix-9, .suffix-10, .suffix-11, .suffix-12{
    padding-left:0px; padding-right:0px;
  }
}
body{width:100%; overflow-x:hidden;}
#main-content p {margin-bottom: 10px;}
/*links - no hover*/

  .more-link a:hover,
  .more-link a:focus,
  a.more-link:hover,
  a.more-link:focus,
  .more-link a:link,
  .more-link a:visited,
  a.more-link:link,
  a.more-link:visited{
    background: url("../images/btn/pager.png") no-repeat scroll right -16px #29736B;
    border-radius: 16px 16px 16px 16px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 12px;
    height: 16px;
    padding: 0 1em 4px 0.5em;
    text-decoration: none;
    text-indent: 0;
    width: auto;
  }

#block-views-sponsors_mobile-block_10{
  background:url('../images/bg/body_bg.png') repeat;
}
h1.title{
  margin-left:0px;
  text-align:center;
  margin-bottom:0px;
}
#content-tabs{
  text-align:center;
  ul.primary, ul.secondary{
    padding-bottom:0px;
    padding-left:16px;
    padding-right:0px;
    padding-top:0px;
  }
  margin-bottom:0px;
}
#view-id-sessions-block_3 .view-footer {
  position:relative;
  right:10px;
}

/*hides, this is a clone of the context reactions for display resizing*/
#block-views-front_page_slideshow-block_1,
#user-bar-zone-wrapper #block-menu-secondary-links,
#preface-first,
{display:none;}

#page-outer-wrapper{
  /*background:transparent;
  border-top:2px solid #d7382a;*/
}

#user-bar-zone-wrapper{
  height:65px;
  max-height:65px;
  background:#2a2b2c;
  #user-bar-regions{
    .dcc-user-welcome{
      text-align:center;
      .content-inner {
        margin-top:0px;
        margin-bottom:0px;
        p{
          margin-top:0px;
          margin-bottom:0px;
        }
      }
    }
  }
}
div.error{display:none;}
.front #header-zone-wrapper{
  height:160px;
}
.view-cod-schedule-mobile{
  .view-content{
    border:0px;
  }
  h3.accordion-header{
    width:99%;
    padding:0px;
    background: #545454;
    a{
      font-family:GillSans, Helvetica, Arial, sans-serif;
      font-size:18px;
      text-transform:capitalize;
      line-height:24px;
      padding:12px 16px;
      text-decoration:none;
      white-space:nowrap;
      color:white;
      font-style:normal;
      font-weight:normal;
    }
  }
  h3.accordion-header:hover{
    background:#666666
  }
  h3.accordion-header-active{
    a{color:#75bacd;}
  }
  .accordion-content{
    background:#FFFEFA url('../images/bg/body_bg.png') repeat left top;
  }
  .accordion-item-first{
    margin-top:0px !important;
  }
  .accordion-item-last{
    margin-bottom:0px !important;
  }
  .views-accordion-item.active{
      height:490px;
      .schedule-add{
        position:relative;
        top:22px;
      }
      .exp-lvl{
        position:relative;
        top:33px;
      }
  }
  .views-accordion-item{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #eaeaea));
    background: -moz-linear-gradient(top center, #fff 0%, #eaeaea 100%);
    border-color: #dfdfdf transparent #9d9d9d #cacaca;
    border-right-color:blue;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px 5px 1px 1px;
    box-shadow: 0 1px 1px 0 #999;
    padding: 0 10px;
    width: 92%;
    height: 150px;
    overflow: hidden;
    margin-top:10px;
    margin-bottom:10px;
    .time{
      float:left;
      }
    h5.title{
          width:90%;
          font-size:15px;
          float:left;
          height:70px;
          padding-left:8px;
          background-position-x:0px;
          display:block;
          overflow:hidden;
        }
      .speaker-image{
        float:right;
        position:relative;
        top:5px;
        img{
          height:30px;
          width:auto;
        }
      }
      div.load-space{
        float:left;
      }
      div.load-container{margin-bottom:10px;}
      img.load-spinner{
        position:relative;
        left:160px;
        bottom:25px;
      }
      span.exp-lvl{
        float:left;
        position:relative;
        left:8px;
        top:15px;
        width:100px;
      }
      /*button:focus,
      button:active,
      .button:focus,
      .button:active,{
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      }*/
      .schedule-add{
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #b4b4b4));
        background: -moz-linear-gradient(top center, #fff 0%, #b4b4b4 100%);
        border-color: #ececec #ccc #a1a1a1;
        box-shadow: 0 0 0 4px #ececec;
        color: #333;
        display: inline-block;
        float: right;
        padding-left: 30px;
        position: relative;
        top: 5px;
        width: 60px;
      }
  }
}

.page-program-session-schedule-your-schedule{
  .view-id-cod_schedule_mobile .presentation.active{
    .presentation-inner{
      max-height:490px;
      height:490px;
      .session-info{
        max-height:490px !important;
        height:490px;
        .schedule-add{
          position:relative;
          top:0px;
          height:30px;
        }
    }
    }
  }
  .view-id-cod_schedule_mobile .session .presentation-inner {
    height:150px;
    max-height:150px;
    width:92%;
    .session-info{
      width:100% !important;
    
        .presenter{
          float:right !important;
            position:relative;
            top:2px;
            display:block;
            max-width:inherit;
            padding:0px;
            width:9%;
            height:auto;
            img{
              height:30px;
              width:auto;
            }
        }
        .schedule-add{
          height:40px;
        }
    }
  }
}
.page-program-sessions, .page-program-sessions-accepted, .page-program-session-schedule-your-schedule{
  .view-sessions, .view-id-cod_schedule_mobile{
    /*for when data is loaded*/
    img.load-spinner{
      position:relative;
      left:40%;
      bottom:25px;
    }
    .view-content .presentation.active{
      height:490px;
      .presentation-inner {
        max-height:490px;
      }
      .session-meta{
        height:490px;
      }
      .exp-lvl{
        position:relative;
        top:360px !important;
      }
      .schedule-add{
        position:relative;
        top:352px;
      }
      .ajax-body p{padding-right:10px;}
      .ajax-body li{margin-right:30px;}
      .ajax-body{
        height:275px; overflow:hidden;
      }
      
    }
    .view-content .session{
      width:92%;
     height:150px;
      .presentation-inner{
        width:100% !important;
          max-height:150px;
        .session-info{
          width:100%;
          float:left;
          max-height:150px;
            h5.title{
              max-width:85%;
              font-size:15px;
              width:100%;
              font-size:15px;
              float:left;
              height:70px;
              padding-left:8px;
              background-position-x:0px;
              display:block;
              height:72px;
              overflow:hidden;
            }
          .question{
            padding-left:24px;
            display:none;
          }
        }
        .session-meta{
          width:100%;
          float:left;
          .speaker-image{
            float:right !important;
            position:relative;
            bottom:78px;
            width:30px;
            img{
              height:30px;
              width:auto;
            }
          }
          .load-space{
            display:block;
            .load-container{
              display:block;
            }
          }
          .schedule-add{
            position:relative;
            left:25px;
          }
          .exp-lvl{
            display:block;
            position:relative;
            right:0px;
            width:100px;
            top:28px;
          }
        }
      }
    }
  
    .views-widget{
      select{
        max-width:350px;
      }
    }
    .views-exposed-widget{
      text-align:center;
      width:100%;
      padding-right:0px;
      padding-top:6px;
      #edit-field-experience-value-many-to-one {
        width:50%;
      }
      #edit-submit-sessions{
        margin-top:10px;
      }
      div.bef-select-as-checkboxes{
        #edit-field-track-value-many-to-one-Code-wrapper{
          margin-right:5%;
          margin-left:5%;
        }
        #edit-field-track-value-many-to-one-Build-wrapper{
          margin-left:5%;
          margin-right:5%;
        }
        #edit-field-track-value-many-to-one-Design-wrapper{
          margin-right:5%;
          margin-left:5%;
        }
        #edit-field-track-value-many-to-one-Business-wrapper{
          margin-left:5%;
          margin-right:5%;
          margin-top:10px;
        }
        #edit-field-track-value-many-to-one-Community-wrapper{
          margin-left:5%;
          margin-right:5%;
          margin-top:10px;
        }
      }
    }
  }
}
#header-zone-wrapper{
  height:160px;
  h1.page-title{
    position:relative;
    top:53px;
  }
  #site-header{
    height:75px;
    max-height:75px; /* need bg to adjust brown area*/
    #branding{
      text-align:center;
      img {
        width:90% !important;
        height:auto !important;
      }
    }
    #site-menu{
      /*m-version of site mnu*/
      select.site-menu-mobile{
      width:80%;
    }
      text-align:center;
      position:relative; top:44px;
      ul{
        width:100%;
        background:gray;
        li, li.first, li.last{
          width:100%;
          display:block;
          background-position-x:85%;
          background: transparent url('../images/nav_sep.png') no-repeat right 1em;
          a{
            font-size:17px;
            margin-left:6px;
            border-bottom:0px;
          }
        }
        li.active{
          border-bottom:0px;
          background: #29ABE1;
        }
      }
    }
  }
}

#preface-middle{
  #block-views-uc_products-block_1{
    text-align:center;
    .register-cta .stock{
      float:none;
      width:100%;
      font-size:85px;
      display:block;
      line-height:25px;
      margin-top:25px;
      padding-right:0px;
    }
  }
}

#view-id-attendees-page_1{
  #views-exposed-form-attendees-page-1{
    .views-exposed-widget{
      width:95%;
      margin-left:5%;
      padding-left:0px;
      padding-right:0px;
      margin-right:0px;
      text-align:center;
      label{
        text-align:left;
        width:45%;
        float:left;
      }
      .views-widget {
        width:45%;
        float:right;
        margin-right:5%
      }
    }
  }
  .view-content .attendee {
    width:100%;
    margin-right:0px;
    min-height:inherit;
    .attendee-overlay{
      position:absolute;
      left:50%;
      display:block;
      width:50%;
      height:100%;
      padding:0px;
      .fullname{
        min-height:10px;
      }
      
    }
    .picture img{
      width:50%;
      height:auto;
    }
  }
}

#view-id-attendees-block_1 .views-view-grid{
  text-align:center;
}
#preface-wrapper{margin-top:0px;}

/*quicktabs*/
.quicktabs-processed{
  ul{
    width:100%;
    li{
      width:100%;
      display:block;
    }
  }
}
/*sponsors footer*/
#block-views-sponsors_mobile-block_10{
  h2.block-title{
    margin-left:4%;
    color:white;
    font-family:TrajanPro, Georgia, "Times New Roman", Times, serif;
    font-style:normal;
    font-weight:bold;
    text-shadow:1px 3px 2px #333;
    margin-bottom:24px;
    background:transparent;
    border:0px;
  }
}

#view-id-sponsors_mobile-block_10{
  .views-accordion{
    h3.accordion-header{
      padding-top:0px;
      width:90%;
      padding-bottom:0px;
      background:#545454;
        font-family:GillSans, Helvetica, Arial, sans-serif;
        font-size:18px;
        text-transform:capitalize;
        line-height:24px;
        padding:12px 16px;
        text-decoration:none;
        white-space:nowrap;
        color:white;
        font-style:normal;
        font-weight:normal;
      }
    
  }
}

/*dir page*/
#node-page-68{
  iframe{
    width:100% !important;
  }
}

#footer-message{text-align:center;}

/*twtr*/
#twtr-widget-1 .twtr-doc{
  width:350px !important;
  .twtr-tweet{
    width:350px !important;
  }
}

.normal-text (@fsize: 10px) {
  font-size:@fsize;
  line-height: @fsize;
}
/*page specific*/
.page-about-directions, .page-about-eat-drink-sleep{
  #main-wrapper p{
    .normal-text;
    a.callout:link, a.callout:visited{
      font-size:10px;
      line-height:15px;
    }
    }
}


.page-code-conduct{
  #main-wrapper p {.normal-text;}
}
.page-about-eat-drink-sleep, .page-code-conduct{
  #main-wrapper li{
    .normal-text;
  }
}