/* Basic Typography & Colors
-------------------------------------------------------------- */
/* Embedded fonts
 * --------------
 * Check fonts.css and ../fonts
 */


/* Add general site styling here for typography and background */
body {
	color: #333;
	font-family: GillSans, Helvetica, Arial, sans-serif;
	/*font-size: 16px;*/
	font-size: 1em;
	line-height: 1.5;
}

/* Default Link Styles */
a,
a:link,
a:visited {
}

/* Hover/Active Link Styles */
a:hover,
a:focus,
a:active {
}

/* Title Link Styles */
.title a,
.title a:link,
.title a:visited {
	color: #0f638d;
	text-decoration: none;
}

.title a:hover,
.title a:focus {
	text-decoration: underline;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
	color: #000;
}

h1 {
	/*font-size: 48px;*/
	font-size: 3em;
	line-height: 1;
	text-transform: uppercase;
}

h1.title,
h1.page-title,
h1.node-title {
	color: #0f638d;
	font-family: TrajanPro, Georgia, "Times New Roman", Times, serif;
	font-style: normal;
	font-weight: bold;
}

h2 {
	font-size: 36px;
	/*font-size: 2.375em;*/
	line-height: 48px;
	/*text-transform: uppercase;*/
}

h2.block-title,
h2.node-title {
	font-family: TrajanPro, Georgia, "Times New Roman", Times, serif;
	font-style: normal;
	font-weight: normal;
}

h3 {
	color: #333;
	/*font-size: 30px;*/
	font-size: 1.875em;
	line-height: 1.6;
}

h4 {
	font-family: LeagueGothic, Tahoma, Geneva, sans-serif;
	/*font-size: 24px;*/
	font-size: 1.5em;
	font-weight: normal;
	line-height: 1;
}

h5 {}

h6 {}



/* ----- /Type & Colors */

/* Base Styling - HTML, Body & Page ------------------------ */
html {}

body {
	background: #fffefa url('../images/bg/body_bg.png') repeat left top;
}

#page {
	background: transparent url('../images/bg/skyline.png') repeat-x center 56px;
}

/* ----- /Base Style */

/* Zone Wrappers ------------------------------------------- */
/* General */
.zone-wrapper {
	width: 100%;
}

/* ---------- */
#page-outer-wrapper {
	background: transparent url('../images/bg/page_bg.png') repeat-x left top;
}

#page-inner-wrapper {
	background: transparent url('../images/bg/noise_burst.png') no-repeat center 216px;
}

#user-bar-zone-wrapper {
	border-bottom: 2px solid #202020;
	height: 46px;
	max-height: 46px; /* overall height == 48px/2em */
	overflow: hidden;
}

#header-zone-wrapper {}

#preface-zone-wrapper {}

#main-zone-wrapper {}

#postscript-zone-wrapper {}

#footer-zone-wrapper {
	background: transparent url('../images/bg/spacer_black.png') repeat left top;
}

/* ----- /Zone Wrappers */

/* Regions ------------------------------------------------- */
/* User Bar */
.user-bar-first {}

.user-bar-last {}

/* Header */
#site-header {
	margin-top: 0;
	height: 168px;
	max-height: 168px; /* height == 7em */
}

#header-regions {}

.header-first {}

.header-last {}

/* Preface */
#preface-wrapper {
	margin-top: 1.5em;
}

.preface {}

#preface-first {}

#preface-middle {}

#preface-last {}

/* Main */
#main-content-container {
	margin-top: 1.5em;
}

#main-wrapper {}

/* Content */
#content-top {
	margin-bottom: 1.5em;
}

#main-content {
	margin-bottom: 1.5em;
}

.node {
	margin-bottom: 0.75em;
	padding-bottom: 1.5em;
}

#content-bottom {
	margin-bottom: 1.5em;
}

/* Sidebars */
.sidebar {}

#sidebar-first {}

#sidebar-last {}

/* Postscript */
#postscript-wrapper {
	margin-bottom: 1.5em;
}

.postscript {}

#postscript-one {}

#postscript-two {}

#postscript-three {}

#postscript-four {}

/* Footer */
#footer-wrapper {}

#footer-first {
	margin-bottom: 1.5em;
}

#footer-last {
	margin-bottom: 1.5em;
}

/* ----- /Regions */

/* Header elements */
/* Brading */
#branding {
	margin-top: 1.5em;
}

#site-name,
#slogan {
  display: block;
}

#site-name a:link,
#site-name a:visited,
#site-name a:hover,
#site-name a:active {
  text-decoration: none;
}

#site-name a {
  outline: 0;
}

/* Menus --------------------------------------------------- */
/* General Lists/Menus */
ol {
	list-style-type: decimal-leading-zero;
	margin-bottom: 1.5em;
}

ul {
	list-style-type: disc;
	margin-bottom: 1.5em;
}

li ul,
li ol {
  margin-bottom: 0;
}

.item-list ul li {
  margin: 0;
}

.block ul,
.block ol {
  margin-left: 1.5em;
  padding: 0;
}

.content ul,
.content ol {
  margin: 1.5em 0;
}

ul.links {
  margin-left: 0; /* LTR */
}

ul.links li {
  display: inline;
  list-style-type: none;
  padding: 0 1em;
}

/* Content tabs */
#content-tabs {
	background: transparent none;
	border: medium none;
	padding: 12px;
}

#content-tabs ul.primary,
#content-tabs ul.secondary {
}

#content-tabs ul.secondary {
}

#content-tabs ul.primary li,
#content-tabs ul.secondary li {
	display: inline-block;
	margin-right: 24px;
}

#content-tabs ul.primary li a:link,
#content-tabs ul.primary li a:visited,
#content-tabs ul.secondary li a:link,
#content-tabs ul.secondary li a:visited {
	color: #999;
	display: inline-block;
	line-height: 1em;
	font-family: LeagueGothic, Tahoma, Geneva, sans-serif;
	font-size: 24px;
	font-weight: normal;
	padding-bottom: 8px;
}

#content-tabs ul.secondary li a:link,
#content-tabs ul.secondary li a:visited {
}

#content-tabs ul.primary li a.active:link,
#content-tabs ul.primary li a.active:visited,
#content-tabs ul.secondary li a.active:link,
#content-tabs ul.secondary li a.active:visited {
	border-bottom: 5px solid #d9362b;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
	font-size: 24px;
	font-weight: normal;
}


#content-tabs ul.primary li a:hover,
#content-tabs ul.secondary li a:hover {
	color: #fff;
	border-bottom: 5px solid #d9362b;
	padding-bottom: 2px;
}

/* General Menu Link Styles */
ul.menu a:link,
ul.menu a:visited {
	color: #fff;
	font-family: LeagueGothic, Tahoma, Geneva, sans-serif;
	font-size: 18px;
	font-weight: normal;
	text-decoration: none;
	text-transform: uppercase;
}

ul.menu a:hover,
ul.menu a:focus {
	color: #f27c38;
}

ul.menu a.active {
	color: #a63c24;
}

/* Primary Nav */
#site-menu {
	position: relative;
	top: 62px;
}

ul.main-menu li {
	background: transparent url('../images/nav_sep.png') no-repeat right center;
	display: inline-block;
	padding: 0;
}

ul.main-menu li.first {}

ul.main-menu li.first a {
	margin-left: 0;
}

ul.main-menu li.last {
	background-image: none;
}

ul.main-menu li.last a {
	margin-right: 0;
}

ul.main-menu a:link,
ul.main-menu a:visited {
	color: #fff;
	display: block;
	font-family: LeagueGothic, Tahoma, Geneva, sans-serif;
	font-size: 26px;
	font-weight: normal;
	line-height: 48px;
	text-decoration: none;
	text-transform: uppercase;
	margin: 0 22px 0 6px;
}

ul.main-menu a:hover,
ul.main-menu a:focus {}

ul.main-menu a.active,
ul.main-menu a.active-trail {}

/* Secondary Nav */
#block-menu-secondary-links ul {
	margin: 0.75em 0;
}

#block-menu-secondary-links li {
	display: inline;
	list-style: none outside none;
	margin: 0;
	padding: 0 1.5em;
}

#block-menu-secondary-links a:link,
#block-menu-secondary-links a:visited {
	text-decoration: none;
}

#block-menu-secondary-links a:hover,
#block-menu-secondary-links a:focus {}

#block-menu-secondary-links a.active {}

/* Node Links */

/* ----- /Menus */

/* Vertical tabs -------------------------------------- */
.vertical-tabs {
  margin-left: 0;
}

.vertical-tabs-list {
  border: none;
  left: -1.5em;
}

.vertical-tabs ul li {
  border-left: none;
  list-style-image: none;
}

.vertical-tabs ul li.last {
  border-bottom: none;
}

.vertical-tabs-list li a:link,
.vertical-tabs-list li a:visited,
.vertical-tabs-list li a:hover,
.vertical-tabs-list li a:active {
  background-color: transparent;
  background-image: none;
  border: none;
}

/* General Block Display Styles */
.block,
.sidebar .block {
	margin-bottom: 1.5em;
}

/* Tables */
table {
  border-spacing: 0;
  width: 100%;
}

caption {
  text-align: left;
}

th {
  margin: 0;
  padding: 0px;
}

th.active img {
  display: inline;
}

thead th {}

td {
  margin: 0;
  padding: 3px;
}

td.block {
  border: none;
  float: none;
  margin: 0;
}

tr.drag td,
tr.drag-previous td {
  background: #fff;
  color: #000;
}

/* Drupal Messages ------------------------------------- */
div.messages,
div.help {
  border-style: solid;
  border-width: 6px;
	font-size: 1em;
  font-weight: normal;
	line-height: 24px;
  margin-bottom: 12px;
  overflow: hidden;
  padding: 12px;
}

div.messages p,
div.help p {
	margin: 0.75em 0 1.5em ;
}

div.status {
  background-color: #EAF8E4;
  border-color: #8DC478;
  color: #3E642F;
}

div.warning {
  background: #FFFFDD;
  border-color: #EED300;
  color: #745500;
}

div.error {
  background-color: #FFF2F2;
  border-color: #CC0000;
  color: #B20000;
}

.help,
div.help {
  background-color: #E4EEF8;
  border-color: #57718A;
  color: #292929;
	padding-bottom: 18px;
}

div.messages ul,
div.help ul {
  list-style-position: inside;
}

div.messages a:link,
div.messages a:visited,
.help a:link,
.help a:visited,
.help .more-help-link a:link,
.help .more-help-link a:visited {
  color: inherit;
  font-size: 24px;
  line-height: 24px;
  font-family: LeagueGothic, Verdana, Geneva, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 #545454;
  padding: 0pt 0.25em;
}

div.messages a:hover,
div.messages a:active,
.help a:hover,
.help a:active,
.help .more-help-link a:hover,
.help .more-help-link a:active,
div.messages em {
  color: inherit;
  text-decoration: underline;
}

/* Forms --------------------------------------------- */
form {
	background-color: #fff;
}

fieldset {
	border: none;
	width: auto;
}

fieldset legend {
	/*font-size: 1em;
	margin: 0px;
	padding: 0;
	color: #b4b4b4;
	font-weight: bold;*/
	display: none;
}

label {
	display: block;
	font-family: GillSans, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
}

.form-item {
	margin-top: 0;
	margin-bottom: 1.5em;
	width: auto;
}

.form-item .description {
  position:absolute;
  bottom:100%;
  right:-15px;
  z-index:5;

  color:#687;
  background: transparent url('images/popup.png') 50% 100% no-repeat;
  border-top:1px solid #d8e4e0;

  width:240px;
  margin:0px 0px -15px;
  padding:9px 10px 20px;
  display:none;
 }

.form-item:hover {
	z-index:1;
	position: relative;
	height:auto; /* Fix for flicker in IE7 */
}

.form-item:hover > .description {
	display:block;
}

input.form-autocomplete,
input.form-text,
textarea.form-textarea,
select.form-select {
  padding:2px;
  border-width:2px;
  border-style:solid;
  border-color:#e8e8e8 #f0f0f0 #f8f8f8;
  background:#fff;
  color:#666;
  max-width:100%;
}

input.form-autocomplete:hover,
input.form-text:hover,
textarea.form-textarea:hover,
select.form-select:hover,
input.form-autocomplete:focus,
input.form-text:focus,
textarea.form-textarea:focus,
select.form-select:focus {
	color:#333;
	border-color:#ace;
}

input[type=text],
input[type=password] {
	width: 300px;
	padding: 5px;
	border: solid 1px #000;
}

/* From Wizard - Step Process */
ul#steps {
	font-family: LeagueGothic, Tahoma, Geneva, sans-serif;
	text-transform: uppercase;
	list-style: none;
	width: auto;
	overflow: hidden;
	margin: 0px;
	padding: 6px 0;
}

ul#steps li {
  background: url("../images/process_bg/step_bg.png") repeat-x scroll left top transparent;
  color: #666;
  display: inline-block;
  padding: 0 0 0 24px;
  min-height: 36px;
  max-height: 36px;
  position: relative;
}

ul#steps li#stepDesc0 {
	padding-left: 0;
}

ul#steps li.current { 
	background-position: left -40px;
	color:#000;
	text-shadow: 1px 1px 0 #fff;
}

ul#steps li.completed {
	background-position: left -80px;
	color: #fff;
	text-shadow: -1px -1px 0 #000;
}

ul#steps li:after {
  content: "";
  display: inline-block;
  background: url("../images/process_bg/step_cap.png") no-repeat scroll left top transparent;
  width: 24px;
  height: 36px;
  padding: 0px;
  position: absolute;
  right: -24px;
  top: 0;
}

ul#steps li.current:after {
	background-position: left -80px;
}

ul#steps li.completed:after {
	background-position: left -120px;
}

ul#steps li.last:after {
	background-position: left -40px;
}

ul#steps li.current span.stepNum {
	background: transparent url('../images/process_bg/current_num.png') no-repeat center center;
}

ul#steps li span {
	font-size: 1.125em;
	line-height: 24px;
	padding-top: 6px;
}

#steps li span.stepNum {
	background-image: none;
	display: inline-block;
	width: 30px;
	height: 30px;
	text-align: center;
	padding-left: 6px;
	padding-right: 6px;
}

#steps li span.stepName {
	padding-left: 6px;
	padding-right: 12px;
}

form .buttons {}

form .buttons .prev,
form .buttons .next {
	background-color: #b0232a;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
}

form .buttons .prev:hover,
form .buttons .next:hover {
	background-color: #000;
	text-decoration: none;
}

form .buttons .prev {
	float: left;
}

form .buttons .next {
	float: right;
}

/* Helper Spans --------------------------------------- */
pre {
	white-space: pre-wrap;
}

em {
	font-style: italic;
}

blockquote {}

.block p {
  margin: 0;
}

.hide {
  display: none;
  visibility: hidden;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

a.callout:link,
a.callout:visited {
  color: #fff;
  font-family: LeagueGothic, Tahoma, Geneva, sans-serif;
  font-weight: normal;
  font-size: 1.25em;
  line-height: 24px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0pt 0.25em;
}

a.callout:hover,
a.callout:focus,
a.callout.active {
	color: #f27c38;
	text-decoration: underline;
}

/* Skinr Styles -------------------------------------------- */
/* Layout Styles */
.dcc-no-y-margin {
	margin-top: 0;
	margin-bottom: 0;
}

.dcc-no-x-margin {
	margin-left: 0;
	margin-right: 0;
}

.float-left .content-inner {
  float: left;
}

.float-center {
	text-align: center;
}

.float-center .content-inner {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.float-right .content-inner {
  float: right;
}

/* Text Styles */
.dcc-title-blue .title,
.dcc-title-blue .title a {
	color: #0f638d;
}

.dcc-title-white .title,
.dcc-title-white .title a {
	color: #fff;
}

.dcc-text-white .content {
	color: #fff;
}

.dcc-text-dark-grey .content {
	color: #333;
}

.dcc-text-grey .content {
	color: #545454;
}

.dcc-text-light-grey .content {
	color: #b4b4b4;
}

.dcc-text-black .content {
	color: #000;
}

.dcc-text-red .content {
	color: #d9362b;
}

.dcc-font-bebasneue .content {
	font-family: BebasNeue, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-style: normal;
}

.dcc-font-bebas .content {
	font-family: Bebas, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-style: normal;
}

.dcc-font-bodidly .content {
	font-family: Bodidly, "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-weight: normal;
	font-style: normal;
}

.dcc-font-leaguegothic .content {
	font-family: LeagueGothic, Tahoma, Geneva, sans-serif;
	font-weight: normal;
	font-style: normal;
}

.dcc-font-trajanpro-bold .content {
	font-family: TrajanPro, Georgia, "Times New Roman", Times, serif;
	font-weight: bold;
	font-style: normal;
}

.dcc-font-trajanpro .content {
	font-family: TrajanPro, Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	font-style: normal;
}

.dcc-font-gillsans .content {
	font-family: GillSans, Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
}

.dcc-font-gillsans-light .content {
	font-family: GillSans, Helvetica, Arial, sans-serif;
	font-weight: 100;
	font-style: normal;
}

.dcc-font-gillsans-bold .content {
	font-family: GillSans, Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-style: normal;
}

.dcc-font-gillsans-italic .content {
	font-family: GillSans, Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: italic;
}

.dcc-font-gillsans-light-italic .content {
	font-family: GillSans, Helvetica, Arial, sans-serif;
	font-weight: 100;
	font-style: italic;
}

.dcc-font-gillsans-bold-italic .content {
	font-family: GillSans, Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-style: italic;
}


/* Block Styles */
.dcc-raised-white {}

.dcc-raised-white .block-inner {}

.dcc-raised-white .block-title {}

.dcc-raised-white .content {}

.dcc-raised-white .content-inner {}