/*grid*/
.container-12{
  width:100%;
  max-width:480px;

  .grid-11{
    width:91.7%;
    max-width:440px;
  }

  .grid-10{
    width:83.3%;
    max-width:400px;
  }
  .grid-8{
    width: 75%;
    max-width: 360px;
  }
  .grid-7{
    width: 66.7%;
    max-width: 320px;
  }
  .grid-6{
    width: 58.3%;
    max-width: 280px;
  }
    
  .grid-5{
    width: 100%;
    max-width: 480px;
  }

  .grid-4{
    width: 41.7%;
    max-width: 200px;
  }

  .grid-3{
    width:33.33%;
    max-width: 160px;
  }
  .grid-2{
    width: 25%;
    max-width: 120px;
  }

  .grid-1{
    width:16.7%;
    max-width: 80px;
  }
}

/**
 * This will display them grid elements as block rather than inline for mobile browsers 
 * (essentially anything smaller than the narrow grid size, and media query declares. 
 */
.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10,
.grid-11, .grid-12, .grid-13, .grid-14, .grid-15, .grid-16, .grid-17, .grid-18, .grid-19,
.grid-20, .grid-21, .grid-22, .grid-23, .grid-24{
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  .push-1, .push-2, .push-3, .push-4, .push-5, .push-6, .push-7, .push-8, .push-9, .push-10, .push-11, .push-12{
    padding-left:0px; padding-right:0px;
  }
  .pull-1, .pull-2, .pull-3, .pull-4, .pull-5, .pull-6, .pull-7, .pull-8, .pull-9, .pull-10, .pull-11, .pull-12{
    padding-left:0px; padding-right:0px;
  }
  .prefix-1, .prefix-2, .prefix-3, .prefix-4, .prefix-5, .prefix-6, .prefix-7, .prefix-8, .prefix-9, .prefix-10, .prefix-11, .prefix-12{
    padding-left:0px; padding-right:0px;
  }
  .suffix-1, .suffix-2, .suffix-3, .suffix-4, .suffix-5, .suffix-6, .suffix-7, .suffix-8, .suffix-9, .suffix-10, .suffix-11, .suffix-12{
    padding-left:0px; padding-right:0px;
  }
}
.container-12{
  .push-1, .push-2, .push-3, .push-4, .push-5, .push-6, .push-7, .push-8, .push-9, .push-10, .push-11, .push-12{
    padding-left:0px; padding-right:0px;
  }
  .pull-1, .pull-2, .pull-3, .pull-4, .pull-5, .pull-6, .pull-7, .pull-8, .pull-9, .pull-10, .pull-11, .pull-12{
    padding-left:0px; padding-right:0px;
  }
  .prefix-1, .prefix-2, .prefix-3, .prefix-4, .prefix-5, .prefix-6, .prefix-7, .prefix-8, .prefix-9, .prefix-10, .prefix-11, .prefix-12{
    padding-left:0px; padding-right:0px;
  }
  .suffix-1, .suffix-2, .suffix-3, .suffix-4, .suffix-5, .suffix-6, .suffix-7, .suffix-8, .suffix-9, .suffix-10, .suffix-11, .suffix-12{
    padding-left:0px; padding-right:0px;
  }
}

/*hides, this is a clone of the context reactions for display resizing*/
#block-views-front_page_slideshow-block_1,
#user-bar-zone-wrapper #block-menu-secondary-links,
#preface-first,
{display:none;}

#page-outer-wrapper{
  /*background:transparent;
  border-top:2px solid #d7382a;*/
}

#user-bar-zone-wrapper{
  height:65px;
  max-height:65px;
  background:#2a2b2c;
  #user-bar-regions{
    .dcc-user-welcome{
      text-align:center;
      .content-inner {
        margin-top:0px;
        margin-bottom:0px;
        p{
          margin-top:0px;
          margin-bottom:0px;
        }
      }
    }
  }
}
div.error{display:none;}
.front #header-zone-wrapper{
  height:auto;
}
.page-community {
  #header-zone-wrapper{
    height:450px;
  }
}
.page-about-eat-drink-sleep{
  #header-zone-wrapper{
    height:450px;
  }
}
.page-program-sessions{
  #header-zone-wrapper{
    height:410px;
  }
  #view-id-sessions-page_1{
    .views-widget{
      select{
        max-width:350px;
      }
    }
    .views-exposed-widget{
      text-align:center;
      .form-item{
        width:30%;
        text-align:left;
      }
      #edit-field-track-value-many-to-one-Code-wrapper{
        margin-right:10%;
        margin-left:0px;
      }
      #edit-field-track-value-many-to-one-Build-wrapper{
        margin-left:10%;
        margin-right:0px;
      }
      #edit-field-track-value-many-to-one-Design-wrapper{
        margin-right:10%;
        margin-left:0px;
        margin-top:10px;
      }
      #edit-field-track-value-many-to-one-Business-wrapper{
        margin-left:10%;
        margin-right:0px;
        margin-top:10px;
      }
      #edit-field-track-value-many-to-one-Community-wrapper{
        width:33% !important;
        margin-top:10px;
      }
    }
  }
}
#header-zone-wrapper{
  height:330px;
  h1.page-title{
    position:relative;
    top:53px;
  }
  #site-header{
    height:75px;
    max-height:75px; /* need bg to adjust brown area*/
    #branding{
      img {
        width:300px !important;
        height:auto !important;
      }
    }
    #site-menu{
      /*m-version of site mnu*/
      select #site-menu-mobile{
      width:80%;
    }
      text-align:center;
      position:relative; top:44px;
      ul{
        width:100%;
        background:gray;
        li, li.first, li.last{
          width:100%;
          display:block;
          background-position-x:85%;
          background: transparent url('../images/nav_sep.png') no-repeat right 1em;
          a{
            font-size:17px;
            margin-left:6px;
            border-bottom:0px;
          }
        }
        li.active{
          border-bottom:0px;
          background: #29ABE1;
        }
      }
    }
    #block-views-uc_products-block_1{
      text-align:center;
      .register-cta .stock{
        float:none;
        width:100%;
        font-size:85px;
        display:block;
        line-height:85px;
        margin-top:70px;
        padding-right:0px;
      }
    }
  }
}

/*quicktabs*/
.quicktabs-processed{
  ul{
    width:100%;
    li{
      width:100%;
      display:block;
    }
  }
}
/*sponsors footer*/

#footer-message{text-align:center;}

/*twtr*/
#twtr-widget-1 .twtr-doc{
  width:350px !important;
  .twtr-tweet{
    width:350px !important;
  }
}