.htaccess
sites/default/settings.php
sites/default/files/*
LICENSE.txt
CHANGELOG.txt
INSTALL.mysql.txt
MAINTAINERS.txt
COPYRIGHT.txt
INSTALL.pgsql.txt
INSTALL.sqlite.txt
INSTALL.txt
README.txt
UPGRADE.txt
.DS_Store
cache/*
.idea/*
*.komodoproject
phpinfo.php
