.view-id-cod_schedule_mobile .session .presentation-inner {
    height:150px;
    max-height:150px;
    width:92%;
    .session-info{
      width:100% !important;

    }
  }

  /***********/
  .view-cod-schedule-mobile{
  .view-content{
    border:0px;
  }







      .speaker-image{
        float:right;
        position:relative;
        top:5px;
        img{
          height:30px;
          width:auto;
        }
      }
      .pictures{
        float:right;
      }
      .picture{
        float:right;
      }


      span.exp-lvl{
        float:left;
        position:relative;
        left:8px;
        top:15px;
        width:100px;
      }
}



/*************/

.page-program-session-schedule-your-schedule{

  .view-id-cod_schedule_mobile .presentation.active{
    .presentation-inner{

        .schedule-add{
          position:relative;
          top:0px;
          height:30px;
        }
    }
    }
  }
}

/*






    .view-content .session{

     .presenter{float:right !important;}


      }
    }

    .view-content .presentation.active{

      .exp-lvl{
        position:relative;
        top:340px !important;
      }
      .schedule-add{
        position:relative;
        top:352px;
      }


    }